[2014-11-20 21:22] abbycabs opened #1 "Proposed workflow"
We're currently testing this proposed workflow for the Contributorship Badges project:
1. Once an article is published, the publisher notifies the badging system and authors.
2. Authors will fill out their roles based on the contributor taxonomy.
3. Badges, crediting authors for the work they contributed, will appear next to the authors names and link to their ORCID page.
4. The ORCID page will di

[2014-11-20 21:24] abbycabs opened #2 "Want to help us? Add your info here."
We're looking for publishers, researchers, developers and institutions to help us test ways to give credit to authors on scholarly papers. Add your info here!

Let us know if you'd like to help in a specific way.

You can see the project roadmap here: #17

[2015-01-02 17:59] dwhly commented on #1
I'd like to explore the notion that these roles are not determined exclusively by publishers.  Why shouldn't the badging taxonomy be mostly complete before the article is submitted?  Most of these roles are ones that are involved in getting the paper to submission, and only a few post-submission.  The paper could be submitted with credit already given for who did what work.

Here are a few reasons

[2015-01-02 18:49] lpaglione commented on #1
Hi Dan,

Yes, you're right. In some workflows it makes sense to assign these roles significantly before submission or completion of scholarly activity. In fact, during the MozFest one thing that was discussed a bit was how to best engage researchers in this role assignment. One suggestion was to have a tool that helped people carry out their roles, perhaps in the form of team management, project m

[2015-01-04 01:50] dwhly commented on #1
Also: Web annotation systems consider annotations as something that attaches to a target (like a journal article).  The notion that there are often multiple copies, and even multiple versions of that target is common to both annotations and badges.  Annotation systems will also increasingly integrate annotations from multiple sources on the same target, in the same way that there might be multiple

[2015-01-13 12:52] jodischneider commented on #2
Jodi Schneider @jschneider

[2015-02-09 20:48] cabunoc opened #3 "cabunoc: new volunteer via Mozilla Science Lab Collaborate"
this is a test<p><br><blockquote>This issue was created by @cabunoc via <a href='http://collaborate.mozillascience.org'>Mozilla Science Lab Collaborate</a></blockquote></p>

[2015-02-14 16:24] jschneider commented on #2
@jodischneider: Think you got the wrong use rname here...

[2015-02-17 22:28] davebridges commented on #2
Dave Bridges @davebridges

[2015-02-23 19:39] #3 closed

[2015-02-25 23:20] jaseiler opened #4 "Jennifer Seiler: new volunteer via Mozilla Science Lab Collaborate"
<p><br><blockquote>This issue was created by @jaseiler via <a href='http://collaborate.mozillascience.org'>Mozilla Science Lab Collaborate</a></blockquote></p>

[2015-02-26 14:45] acabunoc commented on #4
Hey @jaseiler, welcome to the project!

I'm about to release a proposed timeline and development plan. Are you interested in anything in particular?

[2015-04-03 11:08] fahimfana opened #5 "fahim: new volunteer via Mozilla Science Lab Collaborate"
<p><br><blockquote>This issue was created by @fahimfana via <a href='http://collaborate.mozillascience.org'>Mozilla Science Lab Collaborate</a></blockquote></p>

[2015-04-16 15:54] #4 closed

[2015-04-16 17:22] acabunoc commented on #5
Hey @fahimfana -- sorry for the delayed response, I missed this earlier!

We'd love to have you help out! One thing that would be very helpful is if you could go through the [Getting Started](https://github.com/mozillascience/PaperBadger#getting-started) steps and let me know if it worked for you.

Thanks @fahimfana, welcome :)

[2015-04-27 17:04] jgmac1106 commented on #2
Greg Mcverry @jgmac1106

[2015-04-27 17:17] #5 closed

[2015-04-28 14:19] wolass commented on #2
Wojciech Francuzik @wolass  (publisher)

[2015-05-08 15:27] acabunoc opened #10 "Find a way to implement fetching badge instances by DOI"
https://github.com/mozillascience/PaperBadger/blob/master/app.js#L105

There's currently no way to fetch badges instances by evidence via badgekit-api. Issue reported here: https://github.com/mozilla/badgekit-api/issues/132.

[2015-05-08 19:25] acabunoc opened #13 "Add ORCID oauth"
Implement login using orcid authentication

Users should only be able to issue a badge for themselves (ideally, only if the journal has specified that they are the author):
https://github.com/mozillascience/PaperBadger/blob/master/web/app.js#L250

ORCID auth:
http://support.orcid.org/knowledgebase/topics/19248-authentication
http://orcid.org/blog/2014/04/29/beta-participants-wanted-public-authenti

[2015-05-12 14:49] TechnoAyan commented on #2
Ayan Choudhury @technoayan

[2015-05-14 22:10] christianpeel commented on #2
I am happy to give feedback.

[2015-05-17 08:07] milapbhojak opened #15 "Milap Bhojak: new volunteer via Mozilla Science Lab Collaborate"
I also think the same way like As the research environment becomes more digital, we want to test how we can use this medium to help bring transparency and credit for individuals in the publication process.

Well, I can design product, UX, I'm writing code since 5 years so I can code. As I have 3 years of experience in open source community management, I can manage and become community growth hacke

[2015-05-17 12:31] milapbhojak commented on #13
Let me start working on it.

[2015-05-17 22:30] acabunoc commented on #13
Hey @milapbhojak --  that sounds great. Want to chat about the issue this week?

[2015-05-18 03:22] milapbhojak commented on #13
@acabunoc sure, I've sent you an email about contact details :)

[2015-05-19 17:48] acabunoc commented on #15
Thanks so much @milapbhojak -- I'll see you on the call tomorrow! I hope the time isn't too inconvenient for you.

[2015-05-19 17:48] #15 closed

[2015-05-20 12:52] audy commented on #2
Austin Davis-Richardson @audy (researcher/developer)

[2015-05-20 13:20] acabunoc opened #16 "Remove filtering badges"
In several places, we fetch a set of badge instances from badgekit-api, then filter the results for the badges we actually want. We should be able to fetch just the ones we're looking for from badgekit-api.

* ORCID & badge (currently fetch by ORCID, filter by badge)
https://github.com/mozillascience/PaperBadger/blob/master/src/app.js#L106

* DOI & badge (currently fetch by badge, filter by DOI)
h

[2015-05-20 13:40] acabunoc opened #17 "Roadmap"
# Roadmap

We're building a prototype to test ways to use open badges to assign digital credentials to contributors on academic partners.

## Short Term

#### ORCID integration (#13)
We are assigning badges to [ORCID](http://orcid.org/)s (instead of emails) since ORCID has become a standard for a unique researcher identifier. We need to add ORCID authentication. Authors will need to log in to veri

[2015-05-20 14:22] acabunoc opened #18 "Build the badge Issuing process"
**Help wanted: Design, Development, Input**
We're testing out a way to issue badges! In this first prototype we will:

1. The Publisher will manually fill out a form for each paper they're testing badges on
    * form will include: DOI, author emails, author ORCIDs (optional)
2. This will trigger an email to each author with a custom link
3. The custom link will take them to our site and prompt OR

[2015-05-20 19:40] acabunoc opened #19 "Add testing"
Use Mocha!

- [x] set up test framework: @aid29
    - [x] #25, #26 - @aid29
- [x] write tests for PaperBadger api: @audy / @aid29

[2015-05-20 19:41] acabunoc commented on #19
@audy may look into this during the sprint

[2015-05-20 19:54] acabunoc commented on #19
Mocha: http://mochajs.org/

[2015-05-21 00:20] mignon1915 opened #20 "Jane Frazier: new volunteer via Mozilla Science Lab Collaborate"
<p><br><blockquote>This issue was created by @mignon1915 via <a href='http://collaborate.mozillascience.org'>Mozilla Science Lab Collaborate</a></blockquote></p>

[2015-05-21 13:17] acabunoc commented on #20
Hey @mignon1915, welcome to the project!

Are you free to chat for a bit to see where you'd like to help out? Let me know if you have any questions :) abigail [at] mozillafoundation.org

One thing that would be very helpful is if you could go through the [Getting Started](https://github.com/mozillascience/PaperBadger#getting-started) steps and let me know if it worked for you.

[2015-05-22 15:11] aid29 commented on #18
Maybe split out this big issue to 3 steps (issues) as you mentioned above.

[2015-05-22 16:01] acabunoc commented on #18
@aid29 - good idea, will do

[2015-05-22 16:22] dj7777 opened #21 "dj7777: new volunteer via Mozilla Science Lab Collaborate"
I am a Computer Science student.<p><br><blockquote>This issue was created by @dj7777 via <a href='http://collaborate.mozillascience.org'>Mozilla Science Lab Collaborate</a></blockquote></p>

[2015-05-22 16:29] acabunoc commented on #21
Hey there @dj7777, welcome :)

Are you free to chat for a bit to see where you'd like to help out? Let me know if you have any questions :) abigail [at] mozillafoundation.org

One thing that would be very helpful is if you could go through the [Getting Started](https://github.com/mozillascience/PaperBadger#getting-started) steps and let me know if it worked for you.

[2015-05-22 19:45] acabunoc opened #22 "Build interface for the publisher"
Part of #18: Building the badge issuing process
**Help wanted: Designers, Developers, Input**

Our first prototype won't attempt to integration with the Publishers submission system. Instead, Publishers will manually enter article info in a form. The functionality of the form is handled in #23.

They should be able to input:
1. DOI of the paper
2. Author emails
3. Author ORCIDs (optional)

To Do:

[2015-05-22 19:55] acabunoc opened #23 "Implement function on Publisher form submission"
Part of #18: Building the badge issuing process
**Help wanted: Development**

Some back-end work needed to implement badge issuing. This happens on form submission (#22):

- [x] *[Dev]* Generate unique link for authors. Should contain DOI info.
- [x] *[Dev]* Email authors with the link

[2015-05-22 20:12] acabunoc opened #24 "Build interface for the Authors"
Part of #18: Building the badge issuing process
**Help wanted: Design, Development**

Following #23, where authors are sent a unique link (currently http://paperbadger.herokuapp.com/issue), this link should be associated with a DOI (& email address?). Once authenticated, the unique link will lead to a form that allows authors to select their roles on a paper. This will trigger issuing the badges.

[2015-05-22 20:39] audy commented on #19
We'll also need to mock HTTP responses somehow. Is there a node.js thing for that? Google-first-hit says http://sinonjs.org/.

[2015-05-22 20:42] audy commented on #19
@aid29 I added Mocha over on here https://github.com/audy/PaperBadger/tree/add-test-framework. It's only a few lines of code so I won't be heartbroken if you don't use it.

[2015-05-25 16:57] acabunoc commented on #20
We're chatting via email, closing issue

[2015-05-25 16:57] #20 closed

[2015-05-25 17:02] acabunoc commented on #21
@dj7777 and I spoke via Skype. He'll contribute during the sprint. Closing issue for now.

[2015-05-25 17:02] #21 closed

[2015-05-26 21:16] aid29 opened #25 "Build express http app in a separated js class"
So we can start easily the http app with different dependencies or configuration in the test scenarios

[2015-05-26 21:18] aid29 opened #26 "Build badgeKit API client"
Extract the codes using the badgeKit API to a separated client class, make easy to test this client against real api server or a fake one.

[2015-05-28 16:24] acabunoc commented on #25
Thanks @aid29 - this sounds good, like I said in the email, I placed app.js in /web with a refactor in mind.

Could you run this one?

[2015-05-28 16:25] acabunoc commented on #26
Thanks for this too @aid29!

[2015-05-29 09:50] aid29 commented on #25
ok, i will put all the js sources in "src" folder.

[2015-05-29 13:26] acabunoc commented on #25
Hey @aid29 - could you leave them in /web? All the linters are configured for that. If you move them to /src can you update the scripts?
https://github.com/mozillascience/PaperBadger/blob/master/package.json#L6

[2015-06-01 12:24] aid29 commented on #25
@acabunoc Sure, i have updated all the scripts in package.json. I have pushed the changes to the issue_25 branch on my fork. Can you have a look? Thanks.

[2015-06-01 14:50] acabunoc commented on #25
Thanks @aid29! I made a pull request for you: https://github.com/mozillascience/PaperBadger/pull/27

Here's a guide for next time: https://guides.github.com/activities/hello-world/#pr

I'll take a look today :)

[2015-06-02 14:51] acabunoc commented on #25
Fixed by @aid29 in #27

[2015-06-02 14:51] #25 closed

[2015-06-02 21:47] rcpeters commented on #13
@milapbhojak https://github.com/ORCID/orcid-api-walkthrough/blob/master/server.js has a code snippet for authenticating an ORCID. Should start in on this issue?

[2015-06-03 13:41] aid29 commented on #26
No problem! Like to work on this.

[2015-06-03 13:42] aid29 commented on #26
But may not finished before Mozilla Global Sprint, what is your plan on Sprint?

[2015-06-03 14:34] acabunoc commented on #26
During the sprint, I'd like to finish everything in Short Term on the Roadmap: #17

Just to clarify, this issue is separating the badgekit code out of app.js into a separate module? We are technically already using badgekit-api-client (http://github.com/mozilla/badgekit-api-client) to interface with the badgekit-api

[2015-06-03 15:30] aid29 commented on #26
Yes, that's right. We can call it "BadgerService" or something which use badgekit-api-client.
In your sort term plan, it looks like a lot of works...

[2015-06-03 15:52] ibjhb commented on #19
If you need to mock HTTP/API responses, you might want to check out:
https://github.com/typicode/json-server

[2015-06-03 20:38] acabunoc commented on #19
Thanks @ibjhb -- helpful :)

[2015-06-03 20:43] acabunoc commented on #13
Hey @milapbhojak, could you give us a pre-sprint update?

[2015-06-03 23:15] audy opened #29 "Add continuous integration?"
Travis, Circle? CI is fun.

[after #19]

[2015-06-03 23:18] audy commented on #19
@aid29 I'm working on this but the internet says there are a thousand different ways.

Frequently, I see people running the server and sending it HTTP requests with superagent. This is different from what I'm used to with Ruby (you test the HTTP methods without running the actual HTTP server). Would you recommend this approach?

[2015-06-04 02:18] acabunoc commented on #29
I like it :)

[2015-06-04 09:25] aid29 commented on #19
Hi @audy , I think we can start by having some integration tests for testing the endpoints with real http server (maybe ask @acabunoc some golden data), then have some unit tests for the logic calling the Mozzila Badge API which dependent on #26

[2015-06-04 12:18] rcpeters commented on #13
Here is even a simpler example: https://github.com/rcpeters/simple-orcid-auth-node

Please let me know if I should take this on. Cheers,
Rob

[2015-06-04 13:06] acabunoc commented on #13
Assigned to @rcpeters -- let us know when you're less busy, @milapbhojak!

[2015-06-04 14:26] audy commented on #19
I need to do some restructuring so I can unit test methods inside of `src/app.js`.

This is my idea:

- `src/routes.js` - express.js routing
- `src/helpers.js` - misc functions used throughout the app like `emailFromORCID` for example.

I need to rewrite `helpers.js` as a module.

instead of

[code]

I would need to write

[code]

So that I am able to access these functions from my tests.

How abo

[2015-06-04 14:48] audy opened #35 "move helper functions to separate module"
Makes it easier to test them.

[2015-06-04 15:08] #29 closed

[2015-06-04 15:44] audy opened #37 "Use simple-oauth2 from npm"
#33 needs to use a special branch of simple-oauth2 until this issue is resolved https://github.com/andreareginato/simple-oauth2/pull/38.

[2015-06-04 16:44] audy opened #39 "active PaperBadger on Travis"
I need an admin to activate PaperBadger on Travis [here](https://travis-ci.org/profile/mozillascience).

[2015-06-04 18:02] acabunoc commented on #35
Closed by #36

[2015-06-04 18:02] #35 closed

[2015-06-04 18:03] acabunoc commented on #39
on it. I've never used Travis before

[2015-06-04 18:05] acabunoc commented on #39
I think we're good!

[2015-06-04 18:06] audy commented on #39
Yep. URL is [https://travis-ci.org/mozillascience/PaperBadger](https://travis-ci.org/mozillascience/PaperBadger)

[2015-06-04 18:08] acabunoc commented on #39
\o/

[2015-06-04 18:09] acabunoc commented on #39
oh man, travis is so cool

[2015-06-04 18:27] #39 closed

[2015-06-04 19:13] acabunoc opened #43 "Load data from Amye in database"
I got some good data from @akenall @ BMC for a few of their test papers. Will load in so we can play with some real data! (and not just badges assigned to me for everything...)

[2015-06-04 22:40] audy commented on #24
Is this going to go through the badgekit API or will this require building a DB for PaperBadger?

[2015-06-04 22:54] acabunoc commented on #24
badgekit api -- basically replace what we currently have under /issue
http://paperbadger.herokuapp.com/issue/

[2015-06-04 22:59] acabunoc opened #45 "Integrate ORCID auth with client side (react)."
- [x] Prompt users to log in at /issue
- [x] Populate ORCID with user ORCID
- [ ] Prevent submission of issue form unless user is logged in and is issuing a badge for their own ORCID

https://github.com/mozillascience/PaperBadger/pull/42#issuecomment-109026674
Assigning to me since I said I would do it :) ^

[2015-06-05 14:46] JJ commented on #2
I can help, that would be @jjmerelo, researcher and developer too.

[2015-06-05 14:54] acabunoc commented on #19
@JJ - writing tests with @audy might be a good place to jump in :)

[2015-06-05 15:09] #45 closed

[2015-06-05 15:43] acabunoc opened #50 "Make views for our JSON enpoints"
JSON.stringify

Asigned to @alicoding! Thanks friend :)

[2015-06-05 19:19] acabunoc commented on #13
closed in #42, #33, #48, #51 - with help from @rcpeters & @wjrsimpson. Thanks all!

[2015-06-05 19:19] #13 closed

[2015-06-05 20:14] audy commented on #19
Good place for "golden" data https://github.com/mozilla/badgekit-api-client/tree/master/docs

[2015-06-05 20:19] acabunoc commented on #19
?

https://github.com/mozillascience/PaperBadger/blob/master/src/app.js#L7

[2015-06-05 20:19] acabunoc commented on #50
closed by #52. Woohoo \o/

[2015-06-05 20:19] #50 closed

[2015-06-05 20:28] acabunoc commented on #19
So.. that got outdated quickly
https://github.com/mozillascience/PaperBadger/blob/master/src/app.js#L11

[2015-06-05 21:16] acabunoc opened #56 "Integration with ORCID production server"
For our MVP, we'd like to test this out with real users and their real ORCIDs. Work with the ORCID group to use production data.

---- original issue ----
When I log in to ORCID via https://sandbox.orcid.org/oauth/signin, I get a different ORCID then when I log into the main site.

sandbox:
0000-0002-4134-9255

main site:
0000-0003-4959-3049

Not sure if this is specific to me, or if we need to up

[2015-06-05 22:13] rcpeters commented on #56
Sandbox is separate 100% from production. We would have to go through a
formal review before issuing credentials. Should we set up a call for later
this week?

Cheers,
Rob

On Fri, Jun 5, 2015 at 2:16 PM, Abigail Cabunoc Mayes <
notifications@github.com> wrote:

--
Robert Peters
info@rcpeters.com
805.440.9056

[2015-06-06 00:15] acabunoc commented on #56
Ah, that makes sense :) I'll reach out Monday to schedule a call

[2015-06-08 15:26] acabunoc commented on #43
In light of #56, I'll wait till we have real ORCIDs before loading in real data. Might be confusing to have real + test data together.

[2015-06-09 09:11] akenall commented on #43
Thanks, Abby! I’ve just had a look at the spreadsheets this morning and more authors have completed their parts, so it looks like the delay has given us time to get better data. Let me know if you notice anything with the data and I need to go back to the authors.

Great to see the project making progress!

Amye

Amye Kenall
Associate Publisher
Health and Applied Sciences and Open Data
Floor 6, 23

[2015-06-10 12:28] aid29 commented on #19
@audy Nice job for the setup and init tests ;)
Currently pbm is the npm script "test"  is failed because Cannot find module 'supertest'. What is the plan for that? Can I do the fix?

[2015-06-10 12:39] acabunoc commented on #19
Hey @aid29! Did you run `npm install`? There are a few new modules :)

[2015-06-10 12:47] aid29 commented on #19
I forgot it :p

[2015-06-10 12:48] acabunoc commented on #19
It happens :)

[2015-06-15 08:56] aid29 commented on #26
@acabunoc I found this request parameter :badges is not used in this endpoint. https://github.com/mozillascience/PaperBadger/blob/master/src/app.js#L279

[2015-06-15 09:01] aid29 commented on #26
Hi @audy "nock" is great!

Where you find the url "/systems/badgekit/badges?archived=any" which you have faked for calling by BadgeClientApi?

[2015-06-15 13:16] acabunoc commented on #26
@aid29 that should definitely be 'users' not ':badges'...

[2015-06-15 13:18] acabunoc opened #60 "update endpoint - ':badges' to 'users'"
https://github.com/mozillascience/PaperBadger/blob/master/src/app.js#L144

':badges' should be 'users'

mentor: @acabunoc

[2015-06-15 13:51] audy commented on #26
I don't recall. I think I looked at the tests for badgekit-api.

[2015-06-16 11:32] aid29 commented on #26
@audy when I tried to stub this endpoint "/systems/badgekit/badges?archived=any" with some fake JSON or real badge JSON, the badge Client always return '{}'

If you don't 'nock' this endpoint, definitely the Client return a error.

Do you have successfully cheat badge Client to return some JSON data?

[2015-06-16 11:33] aid29 commented on #26
@audy when I tried to stub this endpoint "/systems/badgekit/badges?archived=any" with some fake JSON or real badge JSON, the badge Client always return '{}'

If you don't 'nock' this endpoint, definitely the Client return a error.

Do you have successfully cheat badge Client to return some JSON data?

[2015-06-16 11:35] aid29 commented on #26
I think I need read more BadgeClientAPi source code to understand what happen there, maybe try a integration test with real Badge server in this issue first.

[2015-06-16 11:41] acabunoc commented on #26
Hey @aid29, this might help you:
https://github.com/mozilla/badgekit-api-client

Also: https://github.com/mozilla/badgekit-api/tree/master/docs

Thanks for looking into this!

[2015-06-16 11:43] acabunoc commented on #26
Also, this is the badgekit-api instance we have running / we are using on http://paperbadger.herokuapp.com/:

http://badgekit-api-sciencelab.herokuapp.com/

We successfully fetch / store badges from there. Can you make sure you have the correct environment variables?

[2015-06-16 12:50] aid29 commented on #26
@acabunoc When I connect the project to http://badgekit-api-sciencelab.herokuapp.com/, everything is worked.

But I think audy's solution is cool, so I tried to make the badgekit-api-client talking to a "nock" http server in the test. but it's failed. badgekit-api-client always return a empty json.

I will start writing the tests against the http://badgekit-api-sciencelab.herokuapp.com/

Better to

[2015-06-19 08:58] aid29 commented on #26
Hi @acabunoc I have pushed my branch for #26, please have a look.
here is my notes:
- I finally choice to write directly the integration tests (run against the real OpenBadges server) to cover all our endpoints. Sorry, @audy You can't run all the tests locally for the moment. I think we can start one local Badges server in our build script lately to run all our tests on local.

- I got a problem w

[2015-06-19 15:10] acabunoc commented on #26
Hey @aid29! Can you make a pull request?

https://guides.github.com/activities/hello-world/#pr

Thanks!

[2015-06-19 16:05] audy commented on #26
I agree. This is a better approach.

[2015-06-19 16:06] aid29 commented on #26
@acabunoc Sorry, forgot that, just done.

[2015-06-19 16:44] aid29 commented on #26
The build are failed on CI https://travis-ci.org/mozillascience/PaperBadger/builds/67547510
I think the test running base on the configs load from .env file which don't exist in project.
The problem is we don't want to commit the secret code to the source. Maybe we need block this until we have a local Badges server setup.

[2015-06-19 17:38] audy commented on #26
You can encrypt the key and store it in `.travis.yml`: http://docs.travis-ci.com/user/encryption-keys/. Let me know if you need help.

[2015-06-20 05:21] aid29 commented on #26
Thanks @audy
But looks like it have the restriction about "encrypted environment variables are not available for pull requests from forks." Let's wait @acabunoc to do this :-p

[2015-06-30 21:57] bolaram commented on #2
Bolaram Paul @bolaram  (researcher/developer)

[2015-07-01 19:01] acabunoc opened #62 "Authenticate ORCID on server side"
Make sure user is logged in and authenticated with the correct ORCID before issuing a badge

[2015-07-01 19:47] acabunoc commented on #62
https://github.com/github/fetch/issues/163#issuecomment-112180606

[2015-07-02 19:15] acabunoc opened #64 "Update habitat implementation"
Let new contributors get started immediately (remove cp .env.tempate step) -- based on @rcpeters's suggested during our last project call

Assigned to @alicoding since he first integrated habitat in the project

[2015-07-02 20:24] acabunoc commented on #26
Hey both! I added the relevant environment variables to Travis -- not sure if this is the best approach

BADGES_ENDPOINT
BADGES_KEY
BADGES_SECRET
BADGES_SYSTEM

[2015-07-02 20:55] audy opened #65 "Import badgekit-api MySQL database for testing"
for #19.

[2015-07-02 21:19] audy commented on #65
I can import the dump that @acabunoc sent me just by running

[code]

and

[code]

The question I have now is: do I go ahead and setup MySQLl+Travis now even though we don't have a local paperbadger-api server running yet?

[2015-07-02 21:21] acabunoc commented on #64
Closed with https://github.com/mozillascience/PaperBadger/commit/1b51a8c2b43dadc90653d94a5abfabd4e0ef4748

Sorry abt the lack of pr...

[2015-07-02 21:21] #64 closed

[2015-07-02 21:31] acabunoc commented on #65
I don't know if we need to actually run badgekit-api and mysql locally -- it's pretty large scope.

Can we mock the responses we would get from http://badgekit-api-sciencelab.herokuapp.com/ to test? I guess that's similar to what nock would do. Let me know your thoughts.

[2015-07-03 14:59] aid29 commented on #65
These days we use Docker? :p

[2015-07-06 19:02] acabunoc opened #66 "Update test: make sure email gets deleted from returned values"
To edit: https://github.com/mozillascience/PaperBadger/blob/master/test/helpers.js#L17
Mentor: @acabunoc

https://github.com/mozillascience/PaperBadger/commit/3c80356278a15886687d8a82e7cfd2a9febd7a5b

From #58

[2015-07-09 13:46] acabunoc opened #68 "Add tests: badge creation"
Make sure badge creation can't be spoofed:

https://github.com/mozillascience/PaperBadger/pull/63#issuecomment-119949259

/cc @wjrsimpson @audy

[2015-07-13 05:44] aid29 opened #70 "Add encrypted environment variables to .travis.yml"
[Edit from @acabunoc]

Add encrypted variables to .travis.yml
File to edit: https://github.com/mozillascience/PaperBadger/blob/master/.travis.yml
Instructions: http://docs.travis-ci.com/user/environment-variables/#Encrypted-Variables
Mentor: @acabunoc

----- original issue -----
We notice some TravisCI build don't setup the environment variables before running the tests. That make the tests failed

[2015-07-13 05:47] aid29 commented on #70
I think the "Similarly, we do not provide these values to untrusted builds, triggered by pull requests from another repository." on the page http://docs.travis-ci.com/user/environment-variables/ is the reason.

[2015-07-13 13:48] acabunoc commented on #70
@aid29 thanks for the research! We should add the encrypted environment variables to the .travis.yml

http://docs.travis-ci.com/user/environment-variables/#Encrypted-Variables

[2015-07-13 18:17] acabunoc commented on #65
Hey @audy -- any update on this?

[2015-07-13 18:22] #62 closed

[2015-07-13 18:24] acabunoc commented on #26
resolved with #67!

[2015-07-13 18:24] #26 closed

[2015-07-13 18:42] acabunoc commented on #66
Current test: https://github.com/mozillascience/PaperBadger/blob/master/test/helpers.js#L17

This passes even if email gets returned in api.

[2015-07-13 18:51] audy commented on #65
Then we can just close this. I thought it would be better because we can test future versions of `badgekit-api` without having to mock new responses.

[2015-07-13 18:51] audy commented on #65
I canlook at this in more detail after 7/27.

[2015-07-13 19:11] acabunoc opened #71 "Designing Badges"
We currently have some assets from @akenall
**help wanted: Designer, Input**

![screen shot 2015-07-13 at 14 45 06](https://cloud.githubusercontent.com/assets/617994/8657796/ca217a8a-296d-11e5-8f67-0cb4e2a4ec40.png)

But we need to design badges that:
* can be displayed scaled down
* can be seen in different 'views'
    * all authors and their corresponding badges for a paper
    * all papers and

[2015-07-13 19:16] acabunoc commented on #65
Ooohh, I see your point. tbh, I don't think badgekit-api will change much considering project status. I'll keep this open as a discussion point, but I won't tie it to a milestone.

Have fun writing/defending! Good luck :)

[2015-07-13 19:40] acabunoc opened #72 "Creating JavaScript snippets"
**Help wanted: developers**

Our API is ready for use! Use the data we have available in our API to write a JS snippet that visualizes a users / a papers badges. Built using our JSON endpoints, implement the visualizations created in #71 (if finished). By providing these snippets, a journal (or an author, or ORCID) can just embed the snipped on their website to view badges for this paper/author.

[2015-07-14 15:05] acabunoc commented on #71
Possible coloured dots solution (I'm sorry, I did this quickly):
![screen shot 2015-07-13 at 15 07 04](https://cloud.githubusercontent.com/assets/617994/8658289/e8f10f7c-2970-11e5-968c-034e24c319ce.png)

[2015-07-15 12:41] iamjessklein commented on #71
Hi @acabunoc I am a little confused by your requirements here, are you trying to view the badges by badge earner as well as by badge evidence?

Also, can you give an example of the context for these badges?

[2015-07-15 12:45] iamjessklein commented on #24
@acabunoc to clarify, is the author self issuing a badge and then the publisher is kind of like endorsing that the badge is legit?

[2015-07-15 12:47] iamjessklein commented on #22
As per issue #24 , are the authors endorsing the badge and by doing so, supplying some form of evidence?  Also, what does DOI mean? #noobquestion

[2015-07-15 12:48] iamjessklein commented on #18
I suspect that you also might need to:

- [ ] design the email that goes out to authors
- [ ] design the email that goes out to publishers

cc/ @acabunoc

[2015-07-15 12:53] acabunoc commented on #71
Hey @iamjessklein, yes!

Context:

1. On a paper (evidence) page:
Example paper-
http://www.genomebiology.com/2015/16/1/139

2. On the ORCID (author / earner) page:
Example ORCID:
http://orcid.org/0000-0002-1825-0097

[2015-07-15 12:53] acabunoc commented on #18
Thank you @iamjessklein! I'll add those.

[2015-07-15 12:57] acabunoc commented on #24
@iamjessklein it's the other way around, really.

1. The publisher notifies us when they have a new paper and who the authors are
2. We notify the authors, they can self issue badges on *that* paper only

Thanks for helping clarify!

[2015-07-15 13:02] acabunoc commented on #22
DOI: Digital Object Identifier

In this case, it's used as a unique identifier for a paper, in for the form of a url and used as evidence:
example DOI:
dx.doi.org/10.1186/s13059-015-0705-2

@iamjessklein - sorry there's a lot of domain knowledge I've completely forgotten to define here! *really* great questions

[2015-07-22 05:26] aid29 commented on #19
@acabunoc As #25 #26 are both close, can we close this one as well?

[2015-07-22 11:52] acabunoc opened #75 "Add tests for API endpoints"
From @aid29:

https://github.com/mozillascience/PaperBadger/pull/74#issuecomment-123565229

To do: decide on our testing environment

/cc @audy

[2015-07-22 11:53] #19 closed

[2015-07-22 12:03] acabunoc commented on #22
![submit-paper](https://cloud.githubusercontent.com/assets/617994/8824863/c5f7f458-3047-11e5-83da-dd5e7b7dd898.gif)

Form prototype ^

Currently in review. Added dynamic inputs for multiple authors.

[2015-07-22 13:12] aid29 commented on #22
Nice one!

Another thought, as I have already saw some articles with > 8 authors, maybe have a option to input a list of email address (separated by comma) ?

[2015-07-22 13:29] acabunoc commented on #22
@aid29 - that makes a *lot* of sense

[2015-07-22 17:46] vazquez commented on #71
@iamjessklein -

I just spoke to @acabunoc IRL to get a better sense of what is needed. Here's the 411:

#### Background

- A scholar can earn a badge by writing a paper that contains a specific element portrayed in Badges. So, for example, a paper containing or discussing data visualization will earn the prestigious Data Visualization Badge.

#### Probem

- Right now, the badges are far too big t

[2015-07-22 18:08] acabunoc commented on #22
With a textarea instead:

![screen shot 2015-07-22 at 14 07 06](https://cloud.githubusercontent.com/assets/617994/8833079/f929bf4a-307a-11e5-8cbd-153760c3d46f.png)

/cc @akenall -- you'd be the first person using this form. Any suggestions?

[2015-07-22 18:15] acabunoc opened #76 "Add form validation - Publisher interface"
Warn a user if:
* DOI is malformed
* email address not valid / not separated by newline

Related to #22

[2015-07-22 19:00] acabunoc commented on #71
Amazing @vazquez, thank you!
Slight clarification: the badges are awarded to scholars for their work on a paper. If a scholar contributes data visualization work to a paper, they will earn the prestigious Data Visualization Badge.

[2015-07-22 19:05] kadesoto commented on #2
Interested!

[2015-07-23 12:35] akenall commented on #22
Looks good!

[2015-07-23 12:55] akenall commented on #71
I like the coloured dots solutions you've put up! We need something that would integrate well with any publisher platform. I think that does the job much better than the more traditional badge.

[2015-07-23 15:34] lpaglione commented on #56
Hi -- straight-forward to get production credentials - we just need to decide who's ORCID account they will be registered to. The process for getting those credentials can be found here: http://members.orcid.org/api/accessing-public-api

[2015-07-23 15:48] lpaglione commented on #71
Hi -- ORCID has been thinking a little about the concept of Person Citations. I've independently (not officially!!!) been playing around a bit with how this might look:

![screen shot - hope this displays inline!](https://www.evernote.com/l/AA3sPoQRl0pPMYGHU57VnJVqz_8L4N6OOigB/image.png)

I think in extending this concept of a person citation, it would be interesting to have the role names themsel

[2015-07-23 17:07] acabunoc opened #77 "Setup badgekit-api testing server"
Duplicate what we currently have here to make a testing server:
http://badgekit-api-sciencelab.herokuapp.com/

/cc @audy @aid29 -- I'll update this issue with details when it's up and running!

[2015-07-24 20:27] acabunoc commented on #77
Test badgekit-api is up!

http://badgekit-api-test-sciencelab.herokuapp.com/

Pretty much a duplicate of http://badgekit-api-sciencelab.herokuapp.com/ -- except this one is loaded with badge data from one of the papers sent from Amye.

doi: 10.1186/2047-217X-2-10

closing issue

[2015-07-24 20:27] #77 closed

[2015-07-24 21:57] acabunoc commented on #43
loaded in! deleted existing data.

You can view them by clicking around here:
http://paperbadger.herokuapp.com/

[2015-08-05 15:31] acabunoc opened #83 "Scale up / price out heroku costs before MVP launch"
From @akenall:

[2015-08-12 12:23] yati-sagade commented on #16
The links are broken -- should be `.../src/app.js` (s/web/src/)

[2015-08-12 13:07] acabunoc commented on #16
Thanks @yati-sagade!! Updated the links :)

[2015-08-14 12:50] acabunoc commented on #10
fixed by #84

[2015-08-14 12:50] #10 closed

[2015-08-14 17:10] acabunoc opened #86 "Add author name to badgeinstances"
We currently only store the ORCID for each author. During the issuing process, we can add the Author Name.

This will let the JS snippets display author names (not just ORCID).

- [ ] Stores names when we create badge instance
- [x] Go through current data and add author names

[2015-08-14 19:26] guahanweb commented on #66
Just ran this locally, and it seems to work just fine when I return email in the payload:
![image](https://cloud.githubusercontent.com/assets/155616/9282223/b4d51a30-427f-11e5-9046-41e2d6e59c0d.png)

What is the issue?

[2015-08-14 19:32] acabunoc commented on #66
Just re-read the issue - sorry it's so cryptic!

Some background: https://github.com/mozillascience/PaperBadger/pull/58

In our code, `entry` is normally an object returned from `badgekit-api-client` (not just a hash like in the test). When we run `delete entry.email;` it didn't actually delete that key for some reason. We need to update the test to reflect what's actually going on in our code.

[2015-08-14 19:42] acabunoc commented on #86
Ran into problem -- not sure where in badgeinstance to store name? Maybe we should fetch names on the fly via ORCID api?

Will think. Thoughts here appreciated.

[2015-08-14 19:43] #60 closed

[2015-08-14 19:44] acabunoc commented on #60
Fixed by @guahanweb in #87

[2015-08-14 19:50] #43 closed

[2015-08-14 19:51] guahanweb commented on #70
Adding encrypted environment variables to the YML file is not difficult, though it would be helpful to have a reference to the variables needed. Any input on which variables and values (assuming API keys) are needed for the builds?

[2015-08-14 19:52] acabunoc commented on #70
I can email you the values - abby [at] mozillafoundation.org

Variables:

SESSION_SECRET
BADGES_SYSTEM
BADGES_KEY
BADGES_ENDPOINT
BADGES_SECRET

[2015-08-14 19:55] guahanweb commented on #70
OK. There is one other challenge, though: if we do this from a fork, Travis will not use the same encryption keys. So, the task will need to be done by someone with write access to the actual repo. Here's the point of interest in the docs:

[2015-08-14 19:56] guahanweb commented on #70
Also:

[2015-08-14 19:57] acabunoc commented on #70
Ah. I suppose we just won't be able to run tests properly on forks!

I'm glad you read through these docs for us :) Any alternate solutions come to mind?

[2015-08-14 20:02] guahanweb commented on #70
@acabunoc: If there were a way to to a Git `post-merge` script to run the travis CLI, each fork could set up its own encrypted keys, but that would probably defeat the purpose of the Travis security model.

One question does come to mind: how do we just spin up the client service locally and point it to the hosted web service for the data?

[2015-08-14 20:06] acabunoc commented on #70
Running locally -

This should get you started:
https://github.com/mozillascience/PaperBadger#getting-started
 -- I'll send you some environment variables you'll need

[2015-08-14 20:10] guahanweb commented on #70
OK, cool. If we set up environment variables locally for the fork, we should just set git to assume unchanged on that YML file, and we should be fine:
http://gitready.com/intermediate/2009/02/18/temporarily-ignoring-files.html

[2015-08-14 20:13] acabunoc commented on #70
ohh, that sounds like a good solution! Thanks @guahanweb!

I have a head out for a bit -- thanks for your sprint of work here! Very much appreciated :smile:

[2015-08-14 21:23] guahanweb commented on #86
Seems to me that the badges API should return author as a data point in the JSON payload, but I don't see it. That way, the client could simply put it in the model but leave it up to the implementation whether or not to use it. I would think making another call to retrieve the author would be a lot of overhead to a consumer.

[2015-08-14 21:30] guahanweb commented on #76
Does the DOI have to be a resolvable URI or just formatted as such? It would be nice to do a HEAD request and see if there is anything at the location for validation if it indeed has to resolve.

[2015-08-14 21:49] acabunoc commented on #76
Good point - yes! Should resolve!

[2015-08-14 21:52] guahanweb commented on #66
So... it feels like this test should use a mock response for the endpoint that builds the actual email object. That way, we're testing against the actual object. Is that feasible here? Where is the code that defines the client object that gets returned?

[2015-08-14 21:56] acabunoc commented on #86
Main difficulty is that we're using badgekit-api to issue the badges:

https://github.com/mozilla/badgekit-api/blob/master/docs/issuing.md

We're able to store the ORCID by formatting it as an email address. But there's no field for 'Name'. We're already running a modified version of badgekit to store the doi - https://github.com/acabunoc/badgekit-api

We could make even more changes, but then we'

[2015-08-14 23:20] guahanweb commented on #66
OK... after a bit more investigation, I'm proposing a bit of a restructure for the helper that does the modification. I diagnosed the response, and it looks like the helpers are suffering from references not being updated.

I restructured the helpers a bit to actually clone the response, setting only the appropriate variables. This changes the response slightly, but I updated all the tests to refl

[2015-08-15 18:36] guahanweb commented on #76
So... I'm not an expert in React, though I'm hoping to learn it a bit more. However, in doing some preliminary looking at the templates set up, I'm wondering how conducive to true validation things are right now. I'm looking at this, and it seems to be a pretty thorough walkthrough, but it is pretty involved.

http://christianalfoni.github.io/javascript/2014/10/22/nailing-that-validation-with-reac

[2015-08-15 19:15] guahanweb commented on #2
Garth Henson (@guahanweb)
Software Architect/Engineer

[2015-08-18 12:35] omar-abdalla commented on #86
Another option worth consideration, is just like the Altmetrics standard, we could provide an image representing the PaperBadger with a number consisting of total of badges to papers. This could link to your site with a doi. There as you can now you could drill down on all the badges for a paper, by user or badge type.

Later with the Orcid you can add the author's name too.

[2015-08-18 12:41] acabunoc commented on #86
@omar-abdalla - that could be a good solution for now. Thanks for the help :)

I'll see how difficult it would be to add Name to the badgekit model, but if we can't do it in time, we may have to go with your suggestion.

[2015-08-18 12:52] acabunoc commented on #66
Closed by #90

[2015-08-18 12:52] #66 closed

[2015-08-19 15:56] acabunoc commented on #72
Assigned to @omar-abdalla & Al from Springer / BMC! Does Al have github?

[2015-08-21 13:57] acabunoc commented on #72
Hey @omar-abdalla - any update on this? Let me know if you need help integrating with github :)

[2015-08-21 15:04] Alicole commented on #72
Hi Abby, my github id is Alicole (Al @ Springer)

[2015-08-21 15:06] acabunoc commented on #72
Thanks @Alicole! I appreciate it :smile:

[2015-08-24 16:13] Alicole commented on #86
@acabunoc have you managed to come up with a solution to map orcids to author names?

Currently we are linking the orcid id's directly to the user profiles on orcid's site.

[2015-08-24 16:20] acabunoc commented on #86
Not yet @Alicole --

I can see two possible approaches:

1. Modify badgekit-api model
2. Fetch the name from the [ORCID Public API](http://members.orcid.org/api/tutorial-retrieve-data-public-api-curl-12-and-earlier) when we return data

I'm not entirely happy with either. Sorry for my indecisiveness here. I'll take a closer look today and update this issue as I go.

[2015-08-24 16:26] Alicole opened #95 "Add endpoint so that we can query if there are any badges available for a given article or user"
In order to be able to know if there are badges available, we need has badges functionality.

Preferably also provided as an endpoint, so implementers can query availability.

Providing a decision point should we apply this functionality or not.

[2015-08-24 16:27] acabunoc commented on #95
Makes sense -- can do

[2015-08-24 18:09] acabunoc commented on #95
Proposal: add endpoints returning a count of badge instances:

    /users/:orcid/badges/count
    /papers/:doi1/:doi2/badges/count

I can take a look at this

[2015-08-25 01:13] acabunoc commented on #86
Some work to storing names in badgeInstances in our model

https://github.com/acabunoc/badgekit-api/pull/1

[2015-08-25 01:56] acabunoc commented on #86
Added Author names to current database. #97 will add names to each new created badge.

[2015-08-25 09:10] Alicole commented on #95
Does this proposal cover single papers too?

[2015-08-25 09:40] Alicole commented on #71
Alternatively you could use a tag cloud approach, where each badge is weighted by the count of badges of each type.

Also it's possible to have an author affiliated to multiple institutions, in some papers we can have up to 30 authors cited. How would you associate the orcid id in each case?

[2015-08-25 12:32] wjrsimpson commented on #86
Looks like I might be a bit late, but ORCID think option 2 is better.

2) Fetch the name from the ORCID Public API when we return data

Then you are more likely to have the up-to-date, preferred name for the user and will respect their privacy preferences.

[2015-08-25 12:50] Alicole commented on #86
Not all items currently seem to have author names.

Also "name" seems to be being used for a few different classes of elements, which in itself is confusing and makes it difficult to parse.

[2015-08-25 13:34] acabunoc commented on #95
@Alicole - this only covers single papers. `doi1` and `doi2` are the two parts of the doi that we've used for several endpoints.

all badges for a specific paper: [/papers/10.1186/2047-217X-2-10/badges](http://paperbadger.herokuapp.com/papers/10.1186/2047-217X-2-10/badges?pretty=true)

    /papers/:doi1/:doi2/badges

Count of badges for a specific paper: [/papers/10.1186/2047-217X-2-10/badges/coun

[2015-08-25 13:35] acabunoc commented on #86
Hey @wjrsimpson -- I implemented 1) since it was easier for me right now (I haven't used ORCID's API). We can still update to 2), but I suspect it will be more work than this: #97. Do you have time to get me started on using the orcid api w/ our setup?

@Alicole - where are there no author names? Sorry, I've looked and can't find badges that don't have names right now.

[2015-08-25 15:59] Alicole commented on #86
@acabunoc To test the endpoints initially, as we don't have any articles with badges on our test server, we copied the JSON from the endpoint and hosted it locally.

It seems that this contained a merge of the old and new versions, have now addressed this and can see author names for all badges.

[2015-08-25 16:19] acabunoc commented on #86
Glad we sorted that out, @Alicole :smile:

Also, let me know if you have a preferred field name.

[2015-08-25 16:20] Alicole commented on #86
@acabunoc in terms of field name, how about "authorName"?

[2015-08-25 16:33] Alicole commented on #72
@acabunoc Have included a screenshot of how the badges paper view looks on Gigascience -- please note this is still a work in progress. Have grouped authors underneath badges, by hovering over any author name you can see which other badges have been selected. Clicking on any name will take you to the author's orcid page.

![paperbadges-paper view -- in progress](https://cloud.githubusercontent.com

[2015-08-25 16:35] acabunoc commented on #86
@Alicole -- that sounds good! I'll have time to make this change later this week :)

[2015-08-25 16:39] acabunoc commented on #72
:+1: :100:

This is pretty sweet @Alicole. Flagging design issue in #71

[2015-08-25 16:43] acabunoc commented on #72
@Alicole - where is this code living now?

[2015-08-26 12:43] Alicole commented on #72
@acabunoc Currently on our local servers. One question how are you for support of Jquery?

[2015-08-26 13:43] acabunoc commented on #72
Thanks @Alicole!

Would you mind adding it to our GitHub repo? I know @rcpeters and I would love to take a look / help out. And Rob is keen to see if we can integrate this on the ORCID end.

I'm fine with adding JQuery as a dependency if we need it :) We may want to check with Rob, though.

Happy to hop in a video call if you have any questions!

[2015-08-26 13:53] Alicole commented on #72
Jquery is a problem as some features are no longer being supported by IE9 and below, and they have no intention of remedying this.

Also one feature that deals with the highlighting of all like author badges can be more cleanly and elegantly be implemented with pure Javascript; have now achieved this, at the expense of loss of badge count information for tool tip.

@acabunoc I'm fine with uploadin

[2015-08-26 15:14] acabunoc commented on #72
Hey @Alicole, we're not currently using jquery, so if you want to drop it, that's probably easier ;)

We can use part of tomorrow's meeting to work on sharing your work on our repo. Excited to see this come together, thanks for everything here, Al :)

[2015-08-26 15:16] acabunoc commented on #95
@Alicole - I merged in #96 - let me know if we can close this issue now!

[2015-08-26 15:47] Alicole commented on #72
Hi @acabunoc, we've mostly dropped support of jquery here, in favour of vanilla Javascript. Although in some cases we still use it in prototypes.

We used it here mostly in terms of dealing with the AJAX request, unfortunately CORS isn't properly supported in IE 9 and below. Is there any intention to migrate to JSONP in future?

[2015-08-26 19:02] acabunoc commented on #72
Hey @Alicole - I hadn't considered JSONP, but it sounds like you support a lot more older browsers than I'm used to!

I'll add this as a discussion point on our agenda for the call tomorrow :)

[2015-08-27 14:28] acabunoc opened #98 "Notification! PaperBadger -> badges.mozillascience.org"
PaperBadger will be moving to https://badges.mozillascience.org (from http://paperbadger.herokuapp.com/)

Need to update all pointers in README, etc

[2015-08-27 14:39] acabunoc commented on #98
Right now we're in an in between phase!

badges-mozillascience-org.herokuapp.com

[2015-08-27 16:02] #95 closed

[2015-08-27 16:03] acabunoc opened #100 "Use ORCID Public API to fetch names"
Instead of storing them in badgekit

[2015-08-27 16:06] acabunoc opened #101 "Change name -> authorName"
To avoid confusion with badge.name vs. badgeInstance.name

https://github.com/mozillascience/PaperBadger/issues/86#issuecomment-134657843

Flag @Alicole when live

[2015-08-27 16:07] acabunoc commented on #56
Apply for developer credentials!

http://support.orcid.org/knowledgebase/articles/343182-register-a-client-with-the-public-api

[2015-08-27 16:07] acabunoc opened #102 "Use JSONP"
To support older browsers.

To be reviewed by @rcpeters

[2015-08-27 17:01] #16 closed

[2015-08-27 20:25] acabunoc commented on #101
@Alicole - it's done here: https://github.com/acabunoc/badgekit-api/commit/d67bcdfefa7aca352878ad080a019f6b8e648575

[2015-08-27 20:25] #101 closed

[2015-08-27 20:42] acabunoc commented on #98
And https://badges.mozillascience.org/ is live! \o/

[2015-08-27 20:48] acabunoc opened #104 "Mixed active content"
![screen shot 2015-08-27 at 16 46 42](https://cloud.githubusercontent.com/assets/617994/9532701/3776aff2-4cdb-11e5-8d1e-b2db8ce32c67.png)

Should load these assets by `//` instead of `http://`

https://github.com/mozillascience/PaperBadger/blob/master/public/index.jade#L7

[2015-08-28 09:02] Alicole commented on #101
@acabunoc -- that's helpful thank you :+1

Will be much easier to target and separate out the author name in future, from each JSON object.

Also make help to make the code more bullet proof too.

Have now incorporated AuthorName change into source code.

You will need to change all references from "name" to "authorName", so that the visuals display correctly.

[2015-08-28 13:26] acabunoc commented on #101
@Alicole - ah, yes please! commit away. I'll merge afterwards :)

[2015-08-28 13:42] Alicole commented on #101
@acabunoc Will I need a new pull request?

[2015-08-28 13:46] acabunoc commented on #101
@Alicole - nope! If you push to the same branch it will update the pull request

[2015-08-28 15:14] Alicole commented on #72
@acabunoc We've been experimenting with a two-column layout, which uses a min-height specifier in css. This should enable us to accommodate more authors and hopefully the possibility for each block to expand with additional authors.

<img width="578" alt="paper badger 2-column layout" src="https://cloud.githubusercontent.com/assets/13851381/9549739/85c4157c-4d9f-11e5-8937-27b43b403da4.PNG">

Is th

[2015-08-28 20:10] acabunoc commented on #56
Filled out this form: https://orcid.org/content/register-client-application-production-trusted-party. Waiting.

[2015-08-28 20:13] rcpeters commented on #56
That's for paid members, see
http://support.orcid.org/knowledgebase/articles/343182-register-a-client-with-the-public-api
for
the free public credentials.

On Fri, Aug 28, 2015 at 1:10 PM, Abigail Cabunoc Mayes <
notifications@github.com> wrote:

--
Robert Peters
info@rcpeters.com
805.440.9056

[2015-08-28 20:23] acabunoc commented on #56
Thank you @rcpeters!

[2015-08-31 16:56] #104 closed

[2015-08-31 21:56] acabunoc opened #108 "Add an example using the widget"
Script available here:
https://badges.mozillascience.org/widgets/paper-badger-widget.js

Let's add a section in the README on how to use the widget on your own site.

From @Alicole:

[code]

[2015-09-01 10:07] Alicole commented on #108
Snippet of some example code that will display badges responsively, found below:

[code]

May want to style container accordingly.

[2015-09-01 12:37] Alicole commented on #72
@acabunoc -- in our effort to rid the world from functional hell, which could only end up in something like Jquery, in favour of simpler all encompassing solutions for any one feature, we've come up with a replacement AJAX .get, which we'd like to include.

Is it fine if we commit our change?

[2015-09-01 13:33] acabunoc commented on #72
Yes please! Send the PR along :)

[2015-09-01 14:50] Alicole opened #109 "AJAX replacement method for .get AJAX jquery functions."
Proposing to replace jquery function, with a general purpose vanilla Javascript method that works on latest browser versions, including IE 9. Currently due to AJAX CORS restrictions, widget not able to work on IE9. This change will fix that as well as removing Jquery dependency. Leaving only one more dependency to remove.

[2015-09-01 15:03] Alicole commented on #109
@acabunoc I've added a new pull request, how can I commit my change so it's associated with this, as the branch now thinks everything is up to date?

[2015-09-01 16:23] Alicole commented on #72
@acabunoc -- I've just purged the last jquery from the widget, would you like us to commit?

So should all work for IE9 and above, and the rest.

Will we need a new pull request?

[2015-09-01 16:24] acabunoc commented on #72
@Alicole  - haven't merged this yet, so we can use this PR :)

Also, thanks for bringing in the url changes!

[2015-09-02 07:38] Lupon commented on #2
Asaf Lupo @luplon (Designer)

[2015-09-02 16:25] acabunoc commented on #24
Hey @lupon - saw your comment [here](https://github.com/mozillascience/PaperBadger/issues/2#issuecomment-136962765). Would love your help with some of our interfaces. What are you interested in?

[2015-09-02 19:32] Lupon commented on #24
Hi Abigail,

I'm a UX and UI designer. Passionate about design and innovation. I've been
working as a creative director in a big advertising agency in Israel, but
for the last 2 years I've been working with statups (web and mobile
applications mostly). Your project is interesting. Maybe I can give a hand.
Would you like to see my work?

*Simon Adar, CEO*     |   +1 201 253 6313   |   simon@code-oc

[2015-09-02 19:38] Lupon commented on #24
Hi Abigail,

I'm a UX and UI designer. Passionate about design and innovation. I've been
working as a creative director in a big advertising agency in Israel, but
for the last 2 years I've been working with statups (web and mobile
applications mostly). Your project is interesting. Maybe I can give a hand.
Would you like to see my work?

[2015-09-02 19:38] acabunoc opened #115 "ORCID login issue"
Occasionally, after already logging in (but then waiting awhile), I get sent here
`https://orcid.org/oauth/authorize/oauth/authorize?redirect_uri=ht...`

Not sure why the double `/oauth/authorize`, or which end this is on. Login works properly the first time.

to reproduce
* go to /issue
* Log in via ORCID
* Wait a few minutes (but not too long, after a long time it will work again) for the sessio

[2015-09-02 19:42] acabunoc commented on #24
Hey @Lupon - I'd love your help! Are you free to chat today or Friday?

Skype: acabunoc
time zone: EDT

[2015-09-02 19:55] acabunoc commented on #115
Right now, this bug only appears locally. Login/session issues on heroku right now.

[2015-09-03 15:31] acabunoc commented on #56
done!

[2015-09-03 15:31] #56 closed

[2015-09-03 17:08] acabunoc commented on #115
I think this was fixed by storing the sessions on mongo here: https://github.com/mozillascience/PaperBadger/commit/a0dee2f779cdc0bf651e56cec5346cf783ebf794

closing

[2015-09-03 17:08] #115 closed

[2015-09-03 17:14] acabunoc commented on #109
this looks all updated in the current script! Closing issue :)

[2015-09-03 17:14] #109 closed

[2015-09-03 17:14] #98 closed

[2015-09-03 17:23] acabunoc opened #119 "Look into emails going to spam"
Publisher workflow all implemented! Many are ending up in spam, though. Looking into this.

[2015-09-04 16:08] Alicole commented on #72
@acabunoc Have added a new method to show site furniture on page showing widget and those connected to it too. Will only show if have badges available as uses the badge count endpoint.

Have committed it with a pull request.

[2015-09-04 22:15] acabunoc commented on #119
Using http://www.emailspamtest.com -- the subject line may be considered 'spammy'

subject: 'Claim badges for your scholarly contributions!'

[2015-09-07 10:03] Alicole commented on #72
@acabunoc -- out of interest which field in the JSON /badge best represents each class in the taxonomy?

[2015-09-08 13:14] acabunoc commented on #72
In a badgeInstance, that would be `badge.name`

[2015-09-08 13:25] Alicole commented on #72
@acabunoc -- if you were using the JSON on its own as a source of meta data, it wouldn't be clear from this what the actual Taxonomy Class is. In this case it's being used as the badge name. Wouldn't something like "taxonomyClass" be a more accurate reflection of its purpose?

[2015-09-08 13:36] acabunoc commented on #72
Yes, that definitely would be more accurate! However, that part is following the open badge standard, which I'm hesitant to change. This would limit interoperability and some reuse.

The taxonomy is represented by each of the different badges we offer. On the [home page](https://badges.mozillascience.org/), you can all each taxonomy class a badges under 'Badges'.

We've added a few extra fields of

[2015-09-08 15:52] Alicole commented on #72
Hi @acabunoc

We've made some changes so that a publisher can run analytics when they click on any of the author names.

This uses a user defined callback passed into the showBadges function. This will be provided a JSON object with the taxonomy class of the badge and author's orcid.

Please note we found the badge name shown on the image does not always correspond with the taxonomy class in badge

[2015-09-08 16:14] acabunoc commented on #72
Oh man, thanks for this @Alicole! Great feature to have.

Yes, there are some discrepancies between the image / names since the taxonomy has changed since the assets were created. This is our master list: http://dictionary.casrai.org/Contributor_Roles

Feel free to keep pushing your changes to Alicole/paperbadger:master -- this will keep us up to date on the changes. I'm sure @rcpeters / ORCID wou

[2015-09-08 16:27] Alicole commented on #72
@acabunoc I just went to create a pull request, and there only seems to be two branches now, none of which is Alicole.

[2015-09-08 16:28] acabunoc commented on #72
Send a PR to master! We're looking to merge this into master in the long run, anyways :)

[2015-09-08 16:32] Alicole commented on #72
I tried to create a pull request, but for some reason it won't let me, as it says there is nothing to compare for master to master.

[2015-09-08 16:34] acabunoc commented on #72
It looks like you haven't pushed any changes to your fork?

http://github.com/Alicole/paperbadger

[2015-09-09 14:09] Alicole commented on #72
@acabunoc Latest changes now committed to Alicole branch.

[2015-09-09 14:13] acabunoc commented on #72
Thanks @Alicole! You should be able to make a pr now -- https://github.com/mozillascience/PaperBadger/compare/master...Alicole:master

[2015-09-09 21:12] acabunoc opened #124 "Use crossref API to fetch paper names"

[2015-09-10 07:09] Lupon commented on #24
Sorry for the absence . Had some medical issues to attend.
Maybe it's not the best time for me to commit to a new project. I'll keep
following your project and be in touch when I get some free time.

Good luck, Asaf

*Simon Adar, CEO*     |   +1 201 253 6313   |   simon@code-ocean.com   |
www.code-ocean.com

On Wed, Sep 2, 2015 at 10:42 PM, Abigail Cabunoc Mayes <
notifications@github.com> wrote:

[2015-09-10 15:45] Alicole commented on #72
@acabunoc Did you get my pull request for latest change to be merged?

[2015-09-10 15:46] acabunoc commented on #72
I did! Sorry i didn't realize it was ready for review/merge :) I'll look at it today, thanks!

[2015-09-11 14:20] acabunoc opened #125 "Add /count to more endpoints"
Add documentation for:
- [x]  `/users/:orcid/badges/count`
- [x]  `/papers/:doi1/:doi2/badges/count`

Places to implement /count (& document):
- [ ] `/badges/count`
- [ ] `/badges/:badge/count`
- [ ] `/users/:orcid/badges/:badge/count`
- [ ] `/papers/:doi1/:doi2/badges/:badge/count`
- [ ] `/papers/:doi1/:doi2/badges/:orcid/badges/count`
- [ ] `/papers/:doi1/:doi2/badges/:orcid/badges/:badge/count`

[2015-09-11 15:37] Alicole commented on #72
@acabunoc -- not sure if Rob requires the latest changes for the endpoints.

Also we've committed a bug fix for IE9, which we noticed whilst completing some browser tests.

This will ensure the site furniture correctly shows on IE9.

It's now been committed and we've issue a pull request too.

---------------------------
If you still require the endpoint changes, please inform me as this has been

[2015-09-11 15:43] acabunoc commented on #72
Hey @Alicole! Thanks for the fix! Will review.

We'll hold off on the endpoint changes till we need them :)

[2015-09-11 17:52] hexplus commented on #108
I think the parameter key for the container class in that example above is incorrect. The correct is "container-class" instead of "class". (According line number 103 in paper-badger-widget.js, function showBadges).

If you want to use a custom container name, the code would be:

[code]

Also is a good practice to have the scripts at the bottom (next to the </body> tag) in order to not block the lo

[2015-09-11 17:58] acabunoc commented on #108
Thanks @hexplus! I think we have also removed the jquery dependency since the last example.

Have you tested this out? Would you be up for writing a quick getting starting using this widget for our README?

[2015-09-11 18:03] hexplus commented on #108
@acabunoc , I didn't noticed that Jquery is not required anymore, that's cool. Related the example it some times load the badges, some times not.

With the README stuff, that would be great.

[2015-09-16 02:10] aperala commented on #2
Anita @aperala (jr dev)

[2015-09-16 18:49] acabunoc commented on #108
@aperala - this might a good issue for you!

Could you update our README to include documentation on how to use this widget? Happy to video chat :)

[2015-09-17 02:06] aperala commented on #108
@acabunoc I took a stab at the README, but I'm not sure if this is the wording or the placement you'd want. (Sorry for the delay--I was at a presentation this evening).

<img width="907" alt="screen shot 2015-09-16 at 10 04 36 pm" src="https://cloud.githubusercontent.com/assets/12714591/9923122/f7f31c0a-5cbe-11e5-931e-05ea9f46e74b.png">

I'm on EST and could video chat in the morning if you'd like

[2015-09-17 13:14] acabunoc commented on #108
Hey @aperala - this looks like a good start! Have you made a pull request before? It would be helpful if you could make a pull request with your changes.

See the section on pull requests lower down:
https://guides.github.com/activities/contributing-to-open-source/#contributing

add me on skype if you want to find a time to chat: acabunoc

Thanks!

[2015-09-18 15:01] Alicole commented on #72
@acabunoc -- from further testing it's unlikely that the widget will be able to support any version of IE below IE10.

It seems even using XDomainRequest, we are obtaining access denied even with CORS. Although documentation on the web suggests otherwise.

Only option for longer term is support for JSON-P for IE8 or IE9.

Has Mozilla come across a solution that works?

[2015-09-18 17:31] acabunoc commented on #108
closing issue - example added by @aperala

[2015-09-18 17:31] #108 closed

[2015-09-20 10:50] amjadm61 commented on #2
simply, I"m interested

[2015-09-24 15:06] acabunoc opened #128 "Update example to load the widget non-blocking"
[code]

Replace:

[code]

This way, if badges.mozillascience.org goes down, it won't take your site with it!

[2015-09-24 15:19] acabunoc opened #129 "Add cron job to restart badgekit"

[2015-09-24 15:23] #22 closed

[2015-09-24 15:23] acabunoc opened #130 "Publisher interface - add a confirmation page"
Instead of refreshing the page, add a confirmation that the form was submitted

https://badges.mozillascience.org/papers/new

[2015-09-24 16:18] Alicole commented on #72
@acabunoc -- have committed endpoint changes and created a pull request for it:
https://github.com/mozillascience/PaperBadger/pull/131

[2015-09-24 20:15] acabunoc opened #132 "Error when claiming badges"
From an email from Brian Hole:

<img width="673" alt="screen shot 2015-09-24 at 18 03 11" src="https://cloud.githubusercontent.com/assets/617994/10085465/54013270-62d7-11e5-9ee3-a94de74024b3.png">

[2015-09-25 04:39] acabunoc commented on #128
Hey @aperala, are you interested in updating the README section you wrote with non-blocking code?

Let me know :)

[2015-09-25 12:08] aperala commented on #128
will do!

[2015-09-25 14:29] Alicole commented on #128
@acabunoc That snippet didn't work for us, however this one did, which we used before:
document.write(decodeURIComponent("%3Cscript src='https://badges.mozillascience.org/widgets/paper-badger-widget.js' type='text/javascript'%3E%3C/script%3E"));

[2015-09-25 15:09] acabunoc commented on #132
@rcpeters - do you have any insight here?

[2015-09-25 22:53] aperala commented on #128
@acabunoc Should I use the snippet that @Alicole has provided instead of what's above?
I'm having the same result with that snippet-- the error message is showBadges() not defined.

[2015-09-26 15:22] acabunoc commented on #128
that sounds like the file hasn't finished loading before you call
showBadges -- please test these out and find a good solution to add to the
readme :)

Thank you so much for helping us here, @aperala!

On Fri, Sep 25, 2015 at 5:53 PM, aperala <notifications@github.com> wrote:

[2015-09-26 18:27] aperala commented on #128
the snippet @Alicole worked for me, so I've replaced with that. Just submitted a PR.

[2015-09-27 21:57] rcpeters opened #134 "Bad authorization url"
url https://badges.mozillascience.org/issue is sending users to
https://orcid.org/oauth/authorize/oauth/authorize?redirect_uri=https%3A%2F%2Fbadges.mozillascience.org%2Forcid_auth_callback&scope=%2Fauthenticate&state=none&response_type=code&client_id=APP-J4A352VNNL1J7UYB
when it should be sending people to:
https://orcid.org/oauth/authorize?redirect_uri=https%3A%2F%2Fbadges.mozillascience.org%2For

[2015-09-27 21:58] rcpeters opened #135 "Widget doesn't return results for DOIs with extra stashes."
The widget returns badges for doi `10.1186/2047-217X-3-13`
https://badges.mozillascience.org/papers/10.1186/2047-217X-3-13/badges
However the widget doesn't return badges for `10.1093/nar/gkt1063`
https://badges.mozillascience.org/papers/10.1093/nar/gkt1063/badges I'm guess this has to do with the second slash of the doi.

[2015-09-27 22:53] acabunoc commented on #134
Saw the same thing here: #132 -- I noticed it happens if users have logged in recently. I was hoping you'd have some insight.. i'll take a look later

[2015-09-27 22:55] acabunoc commented on #135
You need to encode the 2nd half of the doi
https://badges.mozillascience.org/papers/10.1093/nar%2Fgkt1063/badges

[2015-09-27 23:13] rcpeters commented on #135
Hum...I would expect the javascript widget to do if we are trying to make the widget as easy as possible to use. Also the DIO is a value. Not encoding one half of a value and encoding the other half doesn't make a whole lot of sense.

[2015-09-27 23:18] acabunoc commented on #135
+1 good points

[2015-09-28 15:54] #128 closed

[2015-09-28 15:55] #83 closed

[2015-09-28 15:56] acabunoc opened #138 "Update our README"
Parts of the readme are outdated / hard to see how you can get involved. Update with the latest info

https://www.mozillascience.org/contributorship-badges-building-the-prototype-this-summer
http://blogs.biomedcentral.com/gigablog/2015/09/28/putting-credit-hands-researchers/

mentor: @acabunoc

[2015-09-28 16:20] acabunoc opened #139 "Did you claim a badge? Let us know how it went!"
We're testing out the current workflow:

1. The Publisher submits a paper, verifying authorship
2. Authors are emailed a unique link and claim code inviting them to claim their badges
3. Authors select which badges represent their contributions
4. Badges will appear on the paper, on ORCID (if that paper is public on your profile), and on [badges.mozillascience.org](http://badges.mozillascience.org

[2015-09-28 16:47] acabunoc opened #140 "Want to claim a badge?"
If you authored a paper on [GigaScience](http://www.gigasciencejournal.com/) or the [Journal of Open Research Software](http://openresearchsoftware.metajnl.com/) and would like to claim badges for your contributions, leave a comment here!

Info to include:
Your name
DOI of the paper you authored

[2015-09-29 13:08] Alicole commented on #72
@acabunoc -- have updated the view to support the ability to show just badges, when endpoint contains an orcid.

<img width="643" alt="paper-badger--what-if-have-orcid" src="https://cloud.githubusercontent.com/assets/13851381/10164708/fab088da-66b2-11e5-885f-d0ae06a55d76.PNG">

Few changes required:

i). add new class to badge styles.

ii). detect there is an orcid in endpoint and provide new badg

[2015-09-29 15:35] Alicole commented on #135
@rcpeters, @acabunoc -- Quite frankly the widget treats the doi as a string, you could put any number of slashes in it and it will still create an endpoint string. It also does this with the updated code, yet to be committed.

Have you tried: https://badges.mozillascience.org/papers/10.1093/nar/gkt1063/badges

This yields: "Page not found"

Does this article have any badges?

[2015-09-29 15:39] acabunoc commented on #135
@Alicole -
This is the correct link, there *are* badges:
https://badges.mozillascience.org/papers/10.1093/nar%2Fgkt1063/badges

I think we can handle this on the app side for usability :)

[2015-09-29 15:52] Alicole commented on #135
@acabunoc -- Thanks for that -- yes when you use the url encoding character for / %2F it works.

Agreed -- for usability it'll probably be better if you can find a way to make this work at your end.

[2015-10-05 15:23] acabunoc opened #142 "Add a loading spinner while widget is loading"
So that users know they're waiting for something

[2015-11-24 18:20] audy commented on #65
I recently stumbled across the [sepia](https://github.com/linkedin/sepia) library for node.js that might be useful here.

Basically, you run tests once against a real API and sepia records and saves all of the responses. Then, when you run the tests in the future, the saved responses (if present) are used. If the API changes, all you have to do is run the real API requests again and commit the res

[2015-12-01 16:54] janhohner opened #149 "Jan Hohner: new volunteer via Mozilla Science Lab Collaborate"
I'm a web developer from Nuremberg, Germany. I've already added a pull request with an improved widget.<p><br><blockquote>This issue was created by @janhohner via <a href='http://collaborate.mozillascience.org'>Mozilla Science Lab Collaborate</a></blockquote></p>

[2015-12-01 16:58] acabunoc commented on #149
![hello!](http://i.giphy.com/IBMavwmu4KEEw.gif)
Welcome!

[2015-12-01 17:00] janhohner commented on #149
Oh I didn't know this opens an issue here :D I'll close this.

[2015-12-01 17:00] #149 closed

[2015-12-01 17:02] janhohner commented on #149
And thanks :)

[2015-12-18 17:33] Blahah commented on #124
@acabunoc just starting to poke around this repo, and this seems like something I could contribute as an ice-breaker.

Science-AI has a nice [js crossref API client](https://github.com/scienceai/crossref) that I'm using in [getpapers](https://github.com/ContentMine/getpapers) - very simple to get the title from a doi.

Looks like I should be working on the [papers route](https://github.com/mozilla

[2015-12-18 19:57] acabunoc commented on #124
Hello, hello!

The crossref API sounds perfect! Thanks for the clarifying questions

Good places to display paper title:
* [when users are contacted](https://github.com/mozillascience/PaperBadger/blob/master/src/routes/papers/index.js#L103-L104)
* For these ones, we may need to add the paper title in the actual badge data:
  * In the [web view](https://badges.mozillascience.org/v/#/badges/conceptu

[2015-12-22 15:58] acabunoc commented on #142
Closing since this is addressed in widget 2.0 by @janhohner

[2015-12-22 15:58] #142 closed

[2015-12-22 15:59] acabunoc commented on #135
While this is address in `/widget.js`, I'll keep this open since I'd like to fix this on the app side

[2015-12-22 16:18] #24 closed

[2015-12-22 16:19] #23 closed

[2015-12-22 16:19] #18 closed

[2015-12-22 16:20] #72 closed

[2015-12-22 16:21] #138 closed

[2016-01-05 15:46] acabunoc commented on #129
added a restart every 12h. Not sure if it will help -- should start thinking about moving away from badgekit

[2016-01-05 15:46] #129 closed

[2016-01-15 23:27] wizgothic opened #151 "Footer is not sticky (About and Issue)"
Confirmed on all devices and browsers.

How to fix this- in main.css:

.footer {
    position:fixed;
    bottom:0;
    background: #111;
}

[2016-01-26 20:27] acabunoc commented on #151
Thanks so much for this @wizgothic!

I'll label this good first bug -- happy to see a PR from a new contributor :)

[2016-02-25 04:24] acabunoc opened #155 "Add redis to Docker setup"
Redis was added after we set the project up with Docker. Add redis and updates the docs!

[2016-02-25 16:06] acabunoc commented on #132
I think this may have been fixed by the upgrade to simple-oauth2 (#154). I'll keep this open a bit longer for observation since this error would happen seemingly randomly....

[2016-03-01 06:53] sudheesh001 opened #156 "npm start throws error and fails to start"
[code]
The command `npm run build:js -- --watch` fails and needs to be corrected to `npm run build:js --watch`

[2016-03-01 07:12] sudheesh001 opened #158 "Update setup documentation with mongo and redis dependencies"
Update local run instructions to include mongo and redis dependencies

-------------------------------

I've tried to set up this repository locally and faced a lot of issues in the process because the `Run Locally` part of the documentation doesn't clearly specify that both a `mongod` and `redis-server` needs to be running so that this application could be set up, It'd be better to inform before

[2016-03-01 07:26] sudheesh001 commented on #155
@acabunoc It looks like this issue was resolved in https://github.com/mozillascience/PaperBadger/commit/a086d2a5c148db76fb20e84382d5dc9653afb780

Should the fix for this issue be from

to

should I make changes to the dockerfile as follows ?
[code]

[2016-03-01 15:20] acabunoc opened #159 "Migrate away from BadgeKit-api"
Since our MVP, badgekit has been less than stable and is no longer under active development.

- [ ] Research other badge systems
- [ ] Roadmap migration plan

[2016-03-01 15:24] acabunoc opened #160 "Journal submission system integration"
Update our API to make it easy for journals/publishers to integrate their submission systems with Paper Badger. Currently, publishers fill out a form listing all authors.

- [ ] Add authentication on our API
- [ ] create endpoints for adding a paper

[2016-03-01 16:56] acabunoc commented on #156
Hey @sudheesh001 -- you need some secrets for the config file to run this locallly. Do you have keybase? I'm https://keybase.io/abbycabs

[2016-03-01 17:02] acabunoc commented on #158
Good point! Updated issue and added 'good first bug' label

[2016-03-01 17:54] josmas commented on #159
Leaving a couple of links in here (I am assuming the new badge system should be open source?):

[Badgr](http://info.badgr.io/) seems to be the most up to date solution I've found so far. They do hosting too, but all code is available to run your [own server](https://github.com/concentricsky/badgr-server).

The nice people at P2PU also worked on an [implementation](https://github.com/p2pu/badges) b

[2016-03-01 18:13] acabunoc commented on #159
Thanks @josmas!

Yes, I've talked to Nate Otto about using Badgr here -- leaning towards it!

Open to exploring non-open source solutions, too. I've been thinking about Credly.

[2016-03-01 18:20] jgmac1106 commented on #159
I have used both badgr and credly. I really like badgr.

On Tue, Mar 1, 2016, 1:13 PM Abigail Cabunoc Mayes <notifications@github.com>
wrote:

[2016-03-01 23:36] acabunoc opened #161 "Add live examples of Paper Badger to the README"
Two publishers are using Paper Badger in production! ORCID also displays badges! Add links to these in the README so people can see how it works live.

Examples listed in this blog post:
https://www.mozillascience.org/contributorship-badges-for-science-view-them-now

[2016-03-02 03:47] jinankjain commented on #161
I was thinking that we could add a sub heading something like current users and add a link or snapshot from those websites that are mentioned in the blog post.

@acabunoc  First thing we have to decide that what would be the sub heading and should we just url or url along with snapshot.

[2016-03-03 15:23] acabunoc commented on #151
Addressed (& being discussed) in #152

[2016-03-03 15:25] jinankjain commented on #130
@acabunoc When I tried to create a new paper and then I signed in using my ORCID ID, response returned was page not found.

Could you help me on that?

[2016-03-03 15:35] acabunoc commented on #130
Hey @jinankjain -- right now only publishers are allowed to create papers. If you add yourself as a publisher in your local database you should be able to test this out.

[2016-03-03 21:51] acabunoc opened #166 "Update linting to use mofo-style"
Mozilla Foundation JS Style Guide (mofo-style):
https://github.com/MozillaFoundation/mofo-style

The Mozilla Foundation JS Style Guide has migrated from jshint & jscs to ESLint. Update this repo for consistency between foundation projects.

[2016-03-03 22:04] acabunoc commented on #161
Hey @jinankjain thanks for chiming in :)

Your ideas sound great -- I hadn't considered a 'current users' subheading or screenshots. If you're interested, it would be nice to see these in a pull request and I can comment there if I have other changes I'd like to see!

[2016-03-03 22:31] #158 closed

[2016-03-04 03:43] jinankjain commented on #130
Hey @acabunoc, I tried adding myself in local database also then also I was getting the same error

[2016-03-05 12:11] josmas commented on #166
@acabunoc, I have upgraded to the latest mofo-style, and I get the scary number of `✖ 438 problems (396 errors, 42 warnings)`.

I can auto `--fix` the first pass, and the number goes down to `✖ 194 problems (152 errors, 42 warnings)` which is a bit more manageable. But just wondering: the new mofo-style seems to be geared to fully ES6 projects, and I am not sure this project fully uses ES6. For in

[2016-03-05 16:01] josmas commented on #166
In fact, in order to allow for changes like the use of _backtick_, babel (or similar) will need to be hooked into the build process. Right now babel is used for react, but webpack will need an extra loader for ES6 transforms.

[2016-03-07 14:46] acabunoc commented on #166
Whoa, yes, this is a heavy lift @josmas! Didn't expect you to jump on this so soon :)

I hadn't looked too deeply into the new mofo-style -- thank you for pointing out the 'fully ES6' direction!

In that case, let's use a relaxed version of `.eslintrc.yaml` (happy to let you decide what that means). Then, when/if we ever fully migrate to ES6, it'll be easier to migrate to the official mofo-style v

[2016-03-07 15:03] #151 closed

[2016-03-07 16:36] #161 closed

[2016-03-07 23:39] josmas commented on #166
@acabunoc #168 uses a modified .eslintrc.yaml as a first step towards using the latest version of mofo-style. More details in the pull request. Let me know what you think.

[2016-03-08 04:57] acabunoc commented on #166
You are a HERO for going through all that! I'll take a look tomorrow, just wanted to drop a quick thanks

[2016-03-08 11:07] josmas commented on #166
No probs! It's a big one, no rush; whenever you can find time.

[2016-03-08 19:12] jinankjain commented on #37
@audy, @acabunoc  we are already using simple-oauth2 from npm. We could close this issue now

[2016-03-08 19:53] acabunoc commented on #37
true! closing :)

Thanks for the keen eye @jinankjain

[2016-03-08 19:53] #37 closed

[2016-03-08 22:23] josmas commented on #155
I am a bit confused about the **use** of this Dockerfile and the docker-compose file.

If the aim is to quickly setup a development environment, then copying the sources into the container (as it is done in the file) is far from ideal, as they can only be edited from within the container. Sharing the sources from the host would be the easiest way to use docker for development.

If the aim is to qu

[2016-03-09 21:08] acabunoc opened #169 "Refactor needed to pass ESLint"
See: https://github.com/mozillascience/PaperBadger/pull/168#issuecomment-193512264

ESLint run on this branch: https://github.com/josmas/PaperBadger/tree/mofo_update

`npm run lint`

[code]

Files to look at:

- [ ] /src/models.js
  - [ ] Ensure we have sufficient test coverage
  - [ ] refactor!
- [ ] /src/routes/papers/index.js
  - [ ] Ensure we have sufficient test coverage
  - [ ] refactor!
- [

[2016-03-09 21:09] acabunoc commented on #169
I can take a look at some of these tomorrow! Would still appreciate extra eyes on this!

[2016-03-09 21:14] acabunoc commented on #155
Wow, yes this already taken care of. By me. thanks @sudheesh001 & @josmas!

@josmas I'm not *very* familiar with Docker. @jonocodes helped us set this up and maybe he has more insight into the setup.

[2016-03-11 18:26] acabunoc commented on #169
Closing -- handled by @josmas in #168

[2016-03-11 18:26] #169 closed

[2016-03-12 01:45] #166 closed

[2016-03-12 01:52] acabunoc opened #171 "Refactoring getBadges / getTheBadges"
In both `/routes/papers/index.js` and `/routes/users/index.js`, there are a lot of similarities between `getBadges` and `getTheBadges`. Refactor to reuse code.

https://github.com/mozillascience/PaperBadger/blob/master/src/routes/papers/index.js
https://github.com/mozillascience/PaperBadger/blob/master/src/routes/users/index.js

More details: https://github.com/mozillascience/PaperBadger/pull/168#

[2016-03-13 17:08] jinankjain commented on #160
Hey @acabunoc Could you please elaborate on this? Like currently our api already required authentication like for issue and adding a paper we need auth for that.

What sort of endpoints we want to create for adding a paper?

[2016-03-15 20:21] acabunoc commented on #160
Thanks @jinankjain for the questions, I hope this clarifies things!

We need to add authentication so publishers can securely consume parts of the api (like adding a new paper via POST request instead of a form). The same way we use the ORCID api by providing a key, publishers would do something similar with our app to issues badges on their papers.

[2016-03-16 08:17] jinankjain commented on #160
It is sort of we have implement our Oauth2.0 according to RFC

[2016-03-16 17:34] acabunoc commented on #160
well, I assume a library has implemented this and we can use it, but yes I think so

[2016-03-16 17:37] jinankjain commented on #160
Ok, I will look into libraries.

[2016-03-16 20:11] jinankjain commented on #160
@acabunoc found one library https://github.com/oauthjs/node-oauth2-server

[2016-03-18 05:16] jonocodes commented on #155
Hello all.

Yes @sudheesh001, you should not need to edit the Dockerfile since compose it taking care of redis.

@josmas , I think the goal was to use docker to bring up an environment you could use quickly so you can try to use paperbadger with another app. Using Docker to develop paperbadger is a good idea, and is not really covered by this setup. But it would be easy to share in a directory lik

[2016-03-18 12:00] josmas commented on #155
hey @jonocodes thanks for the info! It makes sense.

I have done something similar to what you mention in your last point with the [CoderDojo sources](https://hub.docker.com/r/josmas/coderdojo-local-zen/), and it's been really useful at hackathons (instead of spending half the morning installing stuff, you can just spin a container in no time).

In any case, I don't think the current setup is bein

[2016-03-22 05:24] jonocodes commented on #155
I dont know much about node versions, but perhaps this should be updated then?
https://github.com/mozillascience/PaperBadger/blob/master/package.json#L52

Sure. This makes sense as long as there is no plan to create distributable images.

What would the bash one be for?

[2016-03-22 12:05] josmas commented on #155
Hi @jonocodes

yep, _package.json_ can be changed. There was a short convo on gitter about how `0.12` will go out of _LTS_ by the end of the year. There's also the use of _npm 2_ and changes in _npm 3_ that would improve versions being pulled in.

With regards to the scripts, the first one would be to provide the existing functionality (just run the app), and the _bash_ one would give more flexibi

[2016-03-22 19:40] jonocodes commented on #155
Perhaps the things you are trying to do would work by using 'docker exec' to shell into the container instead of creating a run variant.

[2016-03-22 19:59] josmas commented on #155
It would work for some things with `exec ... bash` but not in the case of restarting the server.

[2016-03-23 22:07] AndreyK729 commented on #171
I want to participate in GSoC, and I would like to help Mozilla Science Lab with [Contributorship Badges for Science](https://github.com/mozillascience/PaperBadger/issues/159). Please, assign me to this issue, so I can prove myself worthy.

[2016-03-23 22:23] AndreyK729 commented on #159
I have set up my own test badgr-server. I studied its API and features and I think it properly suits for the project

[2016-03-24 01:11] billymeinke commented on #159
+1 to looking more closely at using Badgr. @ottonomy is one of the few
folks trying to keep the "open" in Open Badges, knows his stuff.

Having seen Credly in use, I'm not convinced it offers anything special.

@dirkcuys would be the one at P2PU to talk to about their badge system, if
you're interested.

On Wed, Mar 23, 2016 at 12:23 PM, Andriy Kopenkin <notifications@github.com>
wrote:

--
Billy

[2016-03-24 01:43] jinankjain commented on #130
We can now close this issue.

[2016-03-24 12:17] jinankjain commented on #139
@acabunoc For this I am thinking could we add a page where users could give a sort of rating to their experience. This would be same like as we see in Uber rides or something like that.

[2016-03-24 13:11] #130 closed

[2016-03-24 14:04] jinankjain commented on #119
@acabunoc I ran the spam test I get a score of -1.9 and it is considered a safe mail. I don't think it will go into spam. http://www.emailspamtest.com/spam-test-results.aspx?f=348af88d-b854-4c30-9e7c-232eaccff094&s=eb015877-40f2-4ce9-8f68-8a9d08b70e44&c=6bce8f10-a5d8-4a28-9a4c-117dc20161b6. If still it goes into spam we could change the subject to Claim badges for your scholarly contributions from

[2016-03-24 19:39] acabunoc opened #178 "Our CI fails when a PR is not from MozillaScience/PaperBadger"
A pull request from any branch not in [MozillaScience/PaperBadger](https://github.com/mozillascience/PaperBadger) will lead to a failed Travis CI build

[2016-03-24 19:51] acabunoc commented on #159
Thanks for the feedback @billymeinke (hi billy!), @AndreyK729 & @jgmac1106!

I think this puts Badgr solidly on our roadmap! I'll update the issue to reflect this

[2016-03-24 19:54] acabunoc commented on #171
Hey @AndreyK729! You're welcome to send over a pull request with your updates on the issue! Happy to answer any questions you may have. You may find our gitter chat useful:

[![Join the chat at https://gitter.im/mozillascience/PaperBadger](https://badges.gitter.im/Join%20Chat.svg)](https://gitter.im/mozillascience/PaperBadger?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badg

[2016-03-25 05:16] jonocodes commented on #155
I would probably restart the container completely instead, but sure.

[2016-03-27 06:13] jonocodes commented on #155
Per your suggestion, I have redone the docker setup to mount local sources instead of building an image. There is no Dockerfile anymore - but requires a newer version of Docker. Since the project requirements are so small, I was able to put all the setup into the docker-compose file. It will also be easier for @josmas to extend to create a bash variation for his needs. See pr #179.

[2016-03-28 13:55] acabunoc commented on #155
Amazing, thanks @jonocodes! I'll take a closer look today

[2016-03-29 23:00] acabunoc commented on #119
Good suggestion @jinankjain :)

[2016-03-30 10:58] dirkcuys commented on #159
https://github.com/p2pu/badges is still used at https://badges.p2pu.org. You can create a badge and users can push badges to their open badge backpack. The process of earning a badge is modelled around giving and receiving feedback on projects. The badges have a peer flavour to them - anyone who earned a badge can give feedback and award that badge - this may not be appropriate for everyone.

[2016-03-30 11:29] jinankjain commented on #102
@acabunoc, are we thinking of removing JSON with JSONP responses now, then we need to decide what is going to be callback function that we are going to warp around JSON.

[2016-03-30 11:46] jinankjain commented on #171
@acabunoc I think you are talking about the getTheBadges function in both of them ?

[2016-03-30 14:35] acabunoc commented on #159
Ohh, thanks for the info @dirkcuys! Nice to hear about your badges -- this is helpful

[2016-03-31 13:39] jinankjain commented on #86
@acabunoc For getting the authorName from orcid we do that by using ORCID API http://members.orcid.org/api/api-calls. Should I move on with this solution?

[2016-04-04 10:54] amitkumarj441 opened #182 "Amit Kumar Jaiswal: new volunteer via Mozilla Science Lab Collaborate"
I am a IIIrd year undergraduate of Computer Science currently pursuing my Bachelor in B.Tech and I'm an active open source contributor and Mozillian and having done academic projects in Database where my work involved as a Frontend and Backend developer, that's why this project amuse me to form my interest in particular. I want to develop digital badges for publishers to integrate code and scienti

[2016-04-08 15:02] #119 closed

[2016-04-08 17:48] jinankjain commented on #171
@acabunoc Am I correct ?

[2016-04-10 16:15] geeeeeeeeek commented on #171
@acabunoc still need a pull request? This issue has been opened for a long time. If has not been resolved, I will work on this.

[2016-04-12 21:16] acabunoc commented on #171
Hey @jinankjain & @geeeeeeeeek - yes both getTheBadges and getBadges functions in both of them -- all four are similar.

I'd like unit tests first before these changes go in.

[2016-04-13 02:53] acabunoc commented on #182
Thanks @amitkumarj441! You're welcome to jump in on any of the issues :)

[2016-04-13 02:53] #182 closed

[2016-04-21 04:48] hellokarthic opened #185 "Karthic Keyan: new volunteer via Mozilla Science Lab Collaborate"
<p><br><blockquote>This issue was created by @hellokarthic via <a href='https://mozillascience.org/collaborate'>Mozilla Science Lab Collaborate</a></blockquote></p>

[2016-04-25 10:22] jinankjain commented on #76
@acabunoc Any updates on the PR?

[2016-04-26 16:02] acabunoc commented on #76
Hey @jinankjain! I'll take a look tomorrow, sorry I've been travelling

[2016-04-27 21:21] #76 closed

[2016-05-04 17:38] acabunoc commented on #185
Hey @hellokarthic! Welcome!

Is there anything in particular you're interested in working on? Welcome to the project 🎉

[2016-05-04 17:38] #185 closed

[2016-05-12 11:10] josmas commented on #155
This was merged as #179 so closing now.

[2016-05-12 11:10] #155 closed

[2016-05-12 11:13] josmas commented on #156
This issue is rather old; please reopen if needed, but closing for now.

[2016-05-12 11:13] #156 closed

[2016-05-12 13:38] josmas commented on #178
This seems to be the same as #70 but there's a lot more info in that other one, so closing this one now.

[2016-05-12 13:38] #178 closed

[2016-05-15 18:47] amitkumarj441 opened #188 "Adding RSS views"
Adding RSS views will enable users to connect with the service independent of "IF THIS THEN THAT" (IFTTT).

Our implementation approach for PaperBadger uses some credentials (like a channel-key which is kept secret), so the page just shows with a GET request should be:

`{
  "errors": [
    {
      "message": "Unauthorized"
    }
  ]
}`

I will use a similar approach in integrating the feature for

[2016-05-16 10:40] josmas commented on #188
I don't fully understand the goal here; @acabunoc is an RSS feed something identified as a need for the project? I don't see anything in the roadmap (#17) with regards to this.

@amitkumarj441 can you explain a little more what you are trying to achieve? Or the errors you are seeing for credentials. There's a lot of stuff in the message above (IFTTT, Flask, APIs, channel-key???) that seems unrelat

[2016-05-16 12:02] josmas commented on #70
Now that we have separated unit and integration tests, https://github.com/mozillascience/PaperBadger/commit/2502d02465d8bf15852f15b034b32928ca13a4ea changes the travis config to run integration tests only when pushed with write access (which means access to the encrypted variables). Closing this one now; thanks everyone for your help figuring this out!

[2016-05-16 12:02] #70 closed

[2016-05-16 12:03] josmas commented on #171
closing this one after merging #183 and #186

[2016-05-16 12:03] #171 closed

[2016-05-16 16:19] amitkumarj441 commented on #188
Hi @acabunoc ,

@josmas , I actually want to integrate vast research data which support PaperBadger by implementing post and get request and the above mentioned things in my issue.
Please have a look over my created issue.
Let me know if you need further explanation in this context.

Thank you
Amit Kumar Jaiswal

[2016-05-16 17:13] josmas commented on #188
Hi @amitkumarj441 I'm really sorry, but it is Monday and I am a bit slow :D

Can you piece it a little for me? You want an RSS feed of what kind of data? and also, _get_ and _post_ of specifically what kind of information?
How are you planning to integrate, and what does _vast research data which support PaperBadger_ mean in your context? Thanks!

[2016-05-16 18:24] jinankjain commented on #100
@acabunoc currently we are using ORCID Public API only to fetch names with request.session.orcid_token.name

So I am not clear what exactly we want in this one @acabunoc could you please elaborate ?

[2016-05-16 22:09] josmas commented on #125
all merged as per #190; closing this issue now.

[2016-05-16 22:09] #125 closed

[2016-05-16 22:28] josmas commented on #75
We now have tests for API endpoints, but they run against the production server, which may not be the best thing to do.

What is the current state of http://badgekit-api-test-sciencelab.herokuapp.com/ ?
I am running the current tests against it and I am getting three errors, most likely cause the data in there is not consistent with the production one (the one with no *-test-* in the URL).
We coul

[2016-05-17 16:24] drammock commented on #71
have you folks considered using / extending an existing svg font for these badges?  The work of optimizing for small display sizes would already be done for you, and you could enhance visual discriminability with fixed colors for each badge.  Some possibilities:

- ![conceptualization](https://raw.githubusercontent.com/encharm/Font-Awesome-SVG-PNG/master/black/png/24/lightbulb-o.png)
- ![funding a

[2016-05-17 16:36] drammock commented on #2
Dan McCloy @drammock
former designer, current postdoc (linguistics / auditory neuroscience); I code mostly python and R, but have a little exposure to javascript.

[2016-05-17 18:10] akenall commented on #71
Wasn’t aware of this. Thanks! Will look into it.

Amye Kenall
Associate Publisher
Health Sciences and Open Data
Biomed Central
Part of SPRINGER NATURE
Floor 6, 236 Gray's Inn Road
London, WC1X 8HB
Tel: +44 20 3192 2768
Mobile: +44 07 7652 22039
@AmyeKenall<https://twitter.com/AmyeKEnall>

From: Daniel McCloy [mailto:notifications@github.com]
Sent: 17 May 2016 17:25
To: mozillascience/PaperBadger
C

[2016-05-17 18:15] drammock commented on #71
@akenall here are two good starting places:
- [academicons](https://jpswalsh.github.io/academicons/)
- [font awesome](http://fontawesome.io/)

[2016-05-17 18:16] akenall commented on #71
Thanks!

Amye Kenall
Associate Publisher
Health Sciences and Open Data
Biomed Central
Part of SPRINGER NATURE
Floor 6, 236 Gray's Inn Road
London, WC1X 8HB
Tel: +44 20 3192 2768
Mobile: +44 07 7652 22039
@AmyeKenall<https://twitter.com/AmyeKEnall>

From: Daniel McCloy [mailto:notifications@github.com]
Sent: 17 May 2016 19:15
To: mozillascience/PaperBadger
Cc: Amye Kenall; Mention
Subject: Re: [moz

[2016-05-19 17:12] josmas commented on #75
ping @acabunoc in case you haven't seen the comment above.

[2016-05-19 17:16] josmas commented on #2
hi @drammock
I am doing a bit of work on the badges server migration #159.
Not sure it's something that could interest you, but if it is, do let me know. It is all _nodejs_ for now (and a bit of infrastructure to install the server, but we have some scripts for that).

[2016-05-19 17:24] josmas commented on #159
@dirkcuys you are still alive!!! :D just kidding. Thanks for the info!

A bit of progress: we are going to give Badgr a go. This is a [Dockerfile](https://github.com/josmas/local-badgr-server) for local installation; hasn't been tested on windows, so help with that appreciated.

Next steps:
- [ ] get all data currently in badgekit into a Badgr local instance
- [ ] write a nodejs module for the Bad

[2016-05-20 16:05] drammock commented on #2
@josmas I had a look, it might be a bit out of my depth but I'm willing to give it a try.  How urgent?  Can it wait until the global sprint thing in a couple weeks?

[2016-05-20 16:14] josmas commented on #2
@drammock it most certainly can!
By then I should have a bit done on the module already, it may be a bit easier to follow; at least some docs and smaller tasks identified.

[2016-05-20 16:16] drammock commented on #2
@josmas cool, I'll officially sign up for this for the sprint then.

[2016-05-30 17:56] acabunoc commented on #75
hey @josmas!  http://badgekit-api-test-sciencelab.herokuapp.com/ is not in maintenance and likely does not have consistent data. Syncing the two and using the test one in .env seems reasonable. A task for #mozsprint?

[2016-05-30 17:57] acabunoc commented on #188
Hey @amitkumarj441, I'm also confused! Do you want to broadcast every time someone gets a badge?

[2016-05-30 18:18] josmas commented on #75
hey @acabunoc yes, this is a good task for the sprint. If we get a dump of the data, and access to the api-test server, we can work on and close both this issue and #65

We can also replicate this setup with the local server when we move to Badgr, without having to run a test server in the cloud.

[2016-05-31 14:13] josmas commented on #188
@amitkumarj441 If it is OK with you, I am going to close this issue for now. I am concerned about potential participants getting sidetracked during the Sprint.

Once you have a clear picture of what you want to do, please do reopen again. Thanks!

[2016-05-31 14:13] #188 closed

[2016-05-31 15:27] josmas opened #191 "High level architecture document"
Add a high level architecture document to [/docs](https://github.com/mozillascience/PaperBadger/tree/master/docs).

Add some of the info in the actual Readme, plus the diagram in https://www.mozillascience.org/projects/contributorship-badges <-- the diagram needs to be updated.

An explanation of what part of the system is and where it is hosted and so forth. Which parts Mozilla hosts, which parts

[2016-05-31 15:30] josmas opened #192 "Move to node v4"
LTS for 0.12 runs out at the end of the year, so moving to v4 is going to be needed soon.

Upgrading also pulls in newer versions of some of the dependencies, which is good.

Figure out what needs to be done, given that the current instructions are for both running on Docker and locally, and also that the likely deployment target is Heroku.

[2016-05-31 15:35] josmas opened #193 "Migration from Jade to Pug"
Jade [is no more](https://github.com/pugjs/pug/issues/2184). The package has been rename to Pug.
Jade is currently only used to serve the main page and  _pretty json_ ([two jade files here](https://github.com/mozillascience/PaperBadger/tree/master/public)), so the migration should be straight forward (_famous last words..._).

[2016-05-31 15:38] josmas opened #194 "Some research on documentation frameworks for APIs"
Something like [swagger](http://swagger.io/) but it does not have to be Swagger. Currently the API endpoints are being documented in the main page and the Readme, but as the API grows, that solution will start to fall short.

[2016-05-31 15:45] Alicole commented on #71
SVG would be more preferable as it scales better on devices and browsers supporting it.

Also can lead to smaller downloads, but not in all cases. And may be faster to render.

Most latest crop of browsers now support SVG; although this wasn't the case in the past.

Would be good to use standard icons if they are well supported and understood by the target audience.

Well worth considering -- are

[2016-05-31 16:38] drammock commented on #71
@Alicole I stuck in PNGs here just so everyone can see them at roughly the target size; all the icons are available as SVGs too.  Here are some additional ideas:

- conceptualization ![conceptualization](https://raw.githubusercontent.com/encharm/Font-Awesome-SVG-PNG/master/black/png/24/lightbulb-o.png)
- data curation ![database](https://raw.githubusercontent.com/encharm/Font-Awesome-SVG-PNG/maste

[2016-06-01 09:25] Alicole commented on #71
@drammock -- thanks all seems fairly comprehensive; interesting to see that there are PNG equivalents, which is good as this means we can have a fallback for those browsers still not 100% compliant with SVG.

Just a case of deciding on the merit of introducing them now or later. Also how we go about marketing them, after the others have been available for a while. I suppose this is something for a

[2016-06-02 07:22] andreabedini commented on #75
hi @josmas sorry there's too little information to understand what to do :) I got the website running with docker but I am not sure where the data (if there's any) is supposed to come from. Shouldn't an api-test server be included in the docker setup? sorry, I am still trying to understand the setup

[2016-06-02 08:14] josmas commented on #75
Hi @andreabedini apologies, it is a bit cryptic indeed. This issue should be taken care of by #195 but it hasn't been reviewed yet.

[2016-06-02 10:45] #193 closed

[2016-06-02 12:25] #65 closed

[2016-06-02 13:51] univ3573 opened #197 "Error trying to run 'npm start' ... might be something silly I am pretty new to node"
npm ERR! Error: ENOENT, open '/home/data/open_science/PaperBadger/scripts/package.json'
npm ERR! If you need help, you may report this log at:
npm ERR!     <http://github.com/isaacs/npm/issues>
npm ERR! or email it to:
npm ERR!     <npm-@googlegroups.com>

npm ERR! System Linux 4.0.4-201.fc21.x86_64
npm ERR! command "node" "/bin/npm" "start"
npm ERR! cwd /home/data/open_science/PaperBadger/scripts

[2016-06-02 14:05] univ3573 commented on #197
npm ERR! Error: ENOENT, open '/home/data/open_science/PaperBadger/node_modules/build:js/package.json'
npm ERR! If you need help, you may report this log at:
npm ERR!     <http://github.com/isaacs/npm/issues>
npm ERR! or email it to:
npm ERR!     <npm-@googlegroups.com>

npm ERR! System Linux 4.0.4-201.fc21.x86_64
npm ERR! command "node" "/bin/npm" "run" "build:js" "--" "--watch"
npm ERR! cwd /home

[2016-06-02 14:20] josmas commented on #191
@acabunoc the URL about is redirecting to the new site so I cannot find the diagram anymore. You mention it was a good doc or similar?

[2016-06-02 14:39] josmas commented on #197
This turned out to be an old version of node and npm. Closing. Feel free to reopen if issues persist.

[2016-06-02 14:39] #197 closed

[2016-06-02 14:47] josmas commented on #65
This was closed automatically with the merge. It would still be interesting to use sepia or some other recording mechanism but for now, the test server will do.

[2016-06-02 14:48] josmas commented on #75
Please update your _.env_ and _docker.env_ files with the new endpoint for the test server in _default.env_. Closing this now.

[2016-06-02 14:48] #75 closed

[2016-06-02 17:39] drammock opened #199 "using env.docker does not read the right values for env variables"
many tests fail with `Get error from return Badges NotAuthorizedError: Invalid token signature` when the environment file is named `env.docker` rather than `.env`.  `cp env.docker .env` is a temporary workaround.  @josmas thinks this might be related to how habitat is being used.

[2016-06-02 17:47] josmas commented on #191
This still needs quite a bit of work, but we have a [starting draft](https://github.com/mozillascience/PaperBadger/blob/master/docs/high-level-architecture.md).

[2016-06-02 17:50] josmas commented on #199
I do indeed! The thing is that the docker setup used to be used only for quickly running things, not for development, and it used to copy the whole sources folder into the container. It does not do that anymore, so the env.docker file is getting lost somehow. We probably need to get rid of it and change the setup instructions in the readme, but have to look at it with a bit more time!

[2016-06-02 20:28] josmas commented on #199
@drammock just checked this one and it works for me if I run the tests inside the container. It won't work if the tests are run outside the container. You can connect to the container with `docker exec -it CONTAINER_NAME_OR_HASH /bin/bash` and then `npm test`. At times they do timeout, but the variables seem to be read correctly (they will not if you try to run the tests from the host).

[2016-06-02 20:32] josmas commented on #199
I think that in any case, we can simplify this by getting rid of _env.docker_ and just asking everyone to use _.env_. That way it should work both outside and inside the container.

[2016-06-02 20:33] acabunoc commented on #199
+1 simplifying to just `.env` if we can

[2016-06-02 20:46] drammock commented on #199
@josmas confirmed, tests pass within the container.

[2016-06-02 23:00] josmas opened #201 "Upgrade to React 15"
The app currently uses react 0.13. A good first step would be to figure what's needed for the migration (for instance, react has been subdivided into smaller packages since 0.13). _react router_ will probably also need an upgrade.

It actually may be a good idea to upgrade to [0.14](https://facebook.github.io/react/blog/2015/10/07/react-v0.14.html) before trying to go up to 15.

[2016-06-03 10:38] #199 closed

[2016-06-03 12:41] Alicole commented on #135
@acabunoc -- in terms of the url with %2F -- is this something that you've look at? Or is it still outstanding? Do you know if this has posed any issues with the wider community?

[2016-06-03 16:10] #192 closed

[2016-06-03 16:11] acabunoc commented on #135
Hey @Alicole! i haven't had a chance to look at it -- still outstanding!

It's pretty rare, but does affect the wider community. I'm still at #mozsprint, this might be a good task for today!

[2016-06-03 16:14] Alicole commented on #135
@acabunoc -- Thanks it would be great if this was closed soon, as it would help prevent any issues with url path inconsistencies.

[2016-06-03 16:16] acabunoc commented on #135
@Alicole I'll make this a priority!

[2016-06-03 16:24] Alicole commented on #194
@josmas -- is there any way of automating this approach, using some tools or scripts, or would we have to complete such documentation manually for every part of the API?

[2016-06-03 16:41] josmas commented on #194
Hi @Alicole
Swagger has a number of tools like the [editor](http://swagger.io/swagger-editor/) and the [codegen](http://swagger.io/swagger-codegen/), but I have not used them. The more that can be done with a _tool_, the better! I am sure there are other options, but haven't really looked at (or used) any so far.

[2016-06-03 16:43] geeeeeeeeek commented on #194
I thinks Swagger is a good solution. I used it in another open source project. The API endpoints are stored in a `yaml` file, so I'm afraid we have to manually do that for each of them. You can refer to https://github.com/gitlab-classroom/classroom-server/blob/master/api/swagger/swagger.yaml#L62.

And one thing that's good about using Swagger is that you can test and debug your endpoints very easi

[2016-06-03 16:48] geeeeeeeeek commented on #194
@josmas If you need any help, feel free to find me. Using Swagger was one of my proposals that I gave to @acabunoc. But sorry I did not have much time to do it. If you like this solution, I would like to suggest refactoring the code with ES 6 together. You are gonna change a lot of code anyway...

[2016-06-03 17:03] josmas commented on #194
Hey @geeeeeeeeek yeah, moving to ES6 is also something needed. It would be nice to split issues though; it's a lot easier to review smaller changes.

Some work to move to ES6 already done in #204 but it's difficult to separate it from the React upgrade, and the changes for the react code are not complete (WIP), so makes things harder to review and merge.

Any help much appreciated!

[2016-06-03 17:15] geeeeeeeeek commented on #194
@josmas Yep it's always a good practice to split issues. BUT, if you are gonna move to ES 6, I'm afraid every single line would be changed and not merge-able with other branches. Why not everybody take some days off and do the dirty work in pipeline, instead parallel?

[2016-06-03 22:57] drammock commented on #71
Here are drafts of a few of the missing or sub-optimal icons in [a gist](https://gist.github.com/drammock/3b2e0b0fbf74e58c57d64903b3a97525).  They are created to be compatible with FontAwesome insofar as they are created with the same height/width/viewbox and are fairly visually consistent.

[2016-06-04 10:38] josmas commented on #194
@geeeeeeeeek that's a great idea. Would you volunteer to do that? I personally need to catch up with other projects and not likely to come back to Paper Badger for a week or so. The #mozsprint is also over now, so the repo will likely be quiet for a while. Sync with @acabunoc if you plan to do so. Thanks!

[2016-06-04 11:08] geeeeeeeeek commented on #194
@josmas Do you have any sprint for PaperBadger? I happen to be available for the next week, and busy for the following two weeks...

[2016-06-04 11:12] josmas commented on #194
hey @geeeeeeeeek the sprint run for the last two days, so I guess things will be _quiet_ this coming week.

[2016-06-06 09:18] Alicole commented on #71
This sounds great in principle. However I'm always wary of all-inclusive solutions, especially as it's important to be mindful that in the process we don't trip up over intellectual property issues.

As I've noticed one of the fonts have glyphs for Mendeley and Google Scholar, as well as doi and others.

Sometimes a more measured minimalist approach is better -- following less is more.

So that we

[2016-06-07 12:35] Alicole commented on #71
@drammock -- that's fine in principle, but with compliance laws abound, it's important to be careful when approaching anything purporting to be open source.

Moreover why do we always approach everything through dev eyes? -- minimalist in this context, simply means to keep the contents to the bare minimum; just concentrating on what matters to the project or issue in question, without broadening t

[2016-06-07 14:40] acabunoc commented on #71
While I *do* add font awesome to most of my projects (really liking this work, @drammock!), since this is a widget we load onto external sites, we should probably be more minimal than usual. Thanks for the reminder @Alicole!

I would actually prefer svg for our badges (for some of the [excellent points you make](https://github.com/mozillascience/PaperBadger/issues/71#issuecomment-219773203) @dramm

[2016-06-07 16:00] drammock commented on #71
@acabunoc absolutely. Two tools I've used for subsetting Font Awesome down to just the glyphs I want are [fontello](http://fontello.com) and [icomoon](https://icomoon.io). Both allow adding your own custom icons into the mix.

[2016-06-15 12:38] arpitgogia commented on #2
@arpitgogia, Developer (Node.JS and Python)

[2016-06-15 13:09] josmas commented on #2
Hi @arpitgogia thanks for reaching out. Feel free to join us on [gitter](https://gitter.im/mozillascience/PaperBadger) to discuss what kind of work you'd like to help us with!

[2016-06-17 11:42] amitkumarj441 commented on #160
Hi @acabunoc ,

Actually, the authorization is processed using multiple predefined URLs, and hence endpoints
But Here, we've have 3 endpoints:
1. Request URL (this endpoint passes the request token)
2. Access URL (exchanges request token for an access token)
3. Authorize URL (confirms that the access token is valid)

Do we need to create all these endpoints?

Cheers,
Amit Kumar Jaiswal

[2016-06-17 11:46] amitkumarj441 commented on #2
@amitkumarj441, CSE IIIrd year Undergrad, FOSS enthusiast! Count me in.

[2016-08-16 21:45] acabunoc opened #207 "Move badges.mozillascience.org to science.mozilla.org/badges"
With the new site, we should move the badges over to `science.mozilla.org/badges`. Let's sync up with @cadecairos to see what we'll need to make the switch.

It sounds like we can route the requests through cloudfront to forward /badges/* to our app. We might have to move all the routes on the heroku app to /badges.

@josmas can you sync up with @cadecairos and figure out what exactly we need to d

[2016-08-17 09:04] josmas commented on #207
sure, I don't have much context for this, but can sync up. @cadecairos, can you let me know when is good to chat? thanks!

[2016-08-18 13:39] cadecairos commented on #207
@josmas woops, this got lost in the ever expanding void of my inbox.

I'm free to chat for the rest of my morning.

[2016-08-18 13:50] cadecairos commented on #207
It can probably wait a couple days at most, but the certificate expires in 13 days. If we can't get the badges moved off that sub-domain, I'll have to keep it as a SAN on the SSL certificate (which isn't the end of the world)

[2016-08-18 13:53] josmas commented on #207
OK, I'll ping you in a few hours; we may have to bring in @acabunoc as I might not have enough details. Talk to you in a bit!

[2016-08-18 15:50] cadecairos commented on #207
@acabunoc @josmas

The more I think about this, the less I want it to happen.

The primary detractor for me is the fact that we'd still need to add badges.mozillascience.org to the certificate so that it gets redirected to the new site.

[2016-08-18 15:52] acabunoc commented on #207
@cadecairos I'll leave this decision up to you! Whatever you think is best, happy to implement what you need

[2016-08-18 16:10] josmas commented on #207
The certificate will be renewed as is, so closing this one now. Thanks @cadecairos !

[2016-08-18 16:10] #207 closed

[2016-09-02 10:31] josmas commented on #194
Hey @geeeeeeeeek just checking if you've had any time to look into this; no worries either way. I've a bunch of other things I need to take care before this, so let me know if you are still interested. We may split the UI into an express app and a module for others to use some of our endpoints (with auth), so a bit of thought needs to be done here. Thanks!

[2016-10-01 12:54] josmas opened #209 "Issue with different badge slugs"
The manual migration of badge info from badgekit to badgr resulted in some of the _badge class slugs_ being different (data-curation != data_curation), and this is problematic for the client.

The [bin](https://github.com/mozillascience/PaperBadger/tree/master/bin) folder has a script to migrate _instance_ data, but the _badge class_ data had previously been added manually. Automating badge info s

[2016-10-02 10:20] Wardormeur commented on #159
Also interested in the process, particularly db-wise.
Please write it down somewhere when it happens :)

[2016-10-02 10:45] josmas commented on #159
hey @Wardormeur it is already happening; most of the db stuff is in the [bin](https://github.com/mozillascience/PaperBadger/tree/master/bin) folder.
Last time I looked, coderdojo zen used the baking API only, so not sure if the work here would apply, but that was a while ago, and you guys have been very busy lately! :)

[2016-10-18 18:26] drammock commented on #71
@acabunoc I've finally gotten around to a complete draft of my proposed icon set (a subset of 9 fontawesome icons plus 5 custom ones).  Here is a  [demo page](http://dan.mccloy.info/data/pb/demo.html) and here are [the fontello-generated fonts](http://dan.mccloy.info/data/pb/font/).

[2016-10-18 18:48] acabunoc commented on #71
This is amazing @drammock! thank you! @josmas any thoughts on migration to these new icons?

[2016-10-18 19:06] josmas commented on #71
Very nice @drammock !

Is the idea to export them as PNG and use them instead of the current images?

[2016-10-18 19:08] acabunoc commented on #71
I think you can import them as a font instead of loading the PNGs

[2016-10-18 19:11] drammock commented on #71
@jos the long-term idea is to have this as a webfont, that publisher websites can add to the pageload, and the icons would go in similar to what @acabunoc drew in [the lovely colored dots mockup](https://github.com/mozillascience/PaperBadger/issues/71#issuecomment-121275870).  Specifying colors in the CSS (so that, e.g., the funding icon was always green) could also aid visual differentiation.

[2016-10-19 10:02] Alicole commented on #71
@drammock -- nice set -- pretty succinct too -- good work.

Should be a massive improvement to existing images -- just need to ensure each one is self-explanatory.

Have these been approved by other project partners?

[2016-10-19 17:19] drammock commented on #71
@Alicole this is the only place I've posted it, so other project partners will only have seen it if they saw it here.

[2016-10-19 17:20] drammock commented on #71
@Alicole regarding self-explanatory, I'm happy to hear opinions about which ones need improvement.

[2016-10-20 14:40] acabunoc commented on #160
Stormpath seems like a good solution if we can get it working!

[2016-10-27 16:07] josmas commented on #209
this is on review #211. No more work needed for now.

[2016-10-27 16:10] josmas commented on #132
I've seen this happening recently, but have not figured out a way to reproduce (it does seem random indeed!). Keeping it open.

[2016-10-27 16:12] josmas commented on #134
marking this as a duplicate of #132 as there's a bit more info in that issue (and it's the same problem).

[2016-10-27 16:12] #134 closed

[2016-10-27 16:15] josmas commented on #86
it seems like this is fixed, as names are already being used in the widgets. Please let me know if that is not the case, but closing for now (can reopen if more work is needed).

[2016-10-27 16:15] #86 closed

[2016-10-27 16:31] Alicole commented on #71
@drammock -- have looked at latest version of font awesome and cannot see any other glyphs that might be more appropriate.

So unless any other person objects, it should be OK to go with your selections.

Just a thought: as some publishers might not want to go with these yet, is there any way to provide an option to select the images (possibly as default) or new glyphs instead.

Might also enable

[2016-10-27 17:00] josmas commented on #135
on review #212

[2016-10-27 17:08] drammock commented on #71
@Alicole you can see how fallbacks are currently handled by viewing the source of [the demo page](http://dan.mccloy.info/data/pb/demo.html) at lines 230-239: several different font file types are specified (svg, woff, woff2, eot, ttf) and the browser will try them in the specified order until it successfully loads one of them.  This does not protect against the fonts being completely unavailable (

[2016-10-28 00:33] acabunoc commented on #71
@Alicole I like the option to select images -- this makes a lot of sense since Badgr needs an image to store by default. Images as a fallback also makes sense.

We can talk about this at the [MozFest session](https://app.mozillafestival.org/#_session-860) this weekend. @Alicole, can you make it out to MozFest? (short notice...)

[2016-10-28 15:16] Alicole commented on #71
@acabunoc -- Just seen your message about MozFest, would be great to finally meet. But as you say this is quite short notice. Maybe next time.

[2017-07-12 11:01] abollini opened #213 "Project status"
We are interested in this project and eventually available to perform an integration with Open Journal System (https://pkp.sfu.ca/ojs/).
The current status of the project is not clear, the latest activities are dated at the end of 2016. Is the project still running? looking to the architecture diagram a global role is assigned to CrossRef that should ask authors to claim their paper roles /badges

[2017-07-17 20:06] drammock commented on #213
I think that @acabunoc and @josmas are in the best position to answer the question of project status; as far as I know all the rest of us are more-or-less transient volunteer contributors (i.e., as part of hackathons and such).

[2017-07-17 21:37] josmas commented on #213
Hey there, I personally haven't had any time to put into this for a good while. We did complete the badgr migration, although we have not deployed it yet.

There is some potential interest in continuing work in the badgr library (cc @Wardormeur), which is very bare-bones at the moment, which would benefit this project as well.

I'd be happy to walk people through set up and getting up and running

[2017-07-19 21:28] Wardormeur commented on #213
Thanks for the transparency 👍
We're waiting on our side for further development on badgr side and will very likely work with/on https://github.com/mozillascience/badgr-client
That doesn't help directly PaperBadge per se, but could unfold an upgrade down the line to a more recent version of Badgr

[2019-03-30 17:42] Mozilla-GitHub-Standards opened #214 "CODE_OF_CONDUCT.md file missing"
As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are required, and should not be altered.
2. Optional Text - The

[2019-03-31 18:06] josmas commented on #214
pushed required text file to master

[2019-03-31 18:06] #214 closed

[2019-12-09 01:59] w3bdesign opened #216 "Not working"
An error occurred in the application and your page could not be served. If you are the application owner, check your logs for details. You can do this from the Heroku CLI with the command
heroku logs --tail

[2021-06-01 14:09] #216 closed, assigned to nobody